.cards {
  margin: 15px 0 0 140px;
  display: grid;
  grid-template-columns: 420px 420px auto;
  grid-template-rows: 1fr;

  &__item {
    display: grid;

    &:nth-child(1) {
      grid-template-rows: 414px auto;
    }

    &:nth-child(2) {
      grid-template-rows: 552px auto;
      padding-top: 2px;
    }

    &:nth-child(3) {
      grid-template-rows: 410px 297px auto;
    }
  }
}
