.list-colors {
  > .list-colors__item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    
    > .list-colors__item {
      margin-left: 40px;
    }

    > .list-colors__item:first-child {
      margin-left: 0;
    }
  }

  > .list-colors__item:first-child {
    margin-top: 0;
  }
}