mixin list-colors__item(name)

  -
    var square_class = '';
    var color_value = '';
    if (name.toLowerCase().includes('dark shade 5')) {
      square_class = 'list-colors__item_color_dark-shade-05';
      color_value = '#1f2041';
    } else if (name.toLowerCase().includes('dark shade 25')) {
      square_class = 'list-colors__item_color_dark-shade-25';
      color_value = '#1f2041';
    } else if (name.toLowerCase().includes('dark shade 50')) {
      square_class = 'list-colors__item_color_dark-shade-50';
      color_value = '#1f2041';
    } else if (name.toLowerCase().includes('dark shade 75')) {
      square_class = 'list-colors__item_color_dark-shade-75';
      color_value = '#1f2041';
    } else if (name.toLowerCase().includes('dark shade')) {
      square_class = 'list-colors__item_color_dark-shade';
      color_value = '#1f2041';
    } else if (name.toLowerCase().includes('green')) {
      square_class = 'list-colors__item_color_green';
      color_value = '#6fcf97';
    } else if (name.toLowerCase().includes('purple')) {
      square_class = 'list-colors__item_color_purple';
      color_value = '#bc9cff';
    }

  .list-colors__item
    .list-colors__item.list-colors__item_square(class= square_class)
    .list-colors__item
      p.list-colors__item.list-colors__color-name= name
      p.list-colors__item.list-colors__color-value= color_value
  