.landing {
  width: 100%;

  flex-grow: 1;

  position: relative;

  min-height: 830px;

  display: flex;
  justify-content: center;

  animation-name: background;
  animation-duration: 180s;
  animation-iteration-count: infinite;

  background-size: cover;
}

.landing__body {
  width: 80.56%;
  max-width: 1160px;

  padding: min(70px, 9vmin) 0;
}

@keyframes background {
  100%, 0%, 33.3% {
    background-image: url('./img/index-1.jpg');
  }
  33.4%, 66.6% {
    background-image: url('./img/index-2.jpg');
  }
  66.7%, 99.9% {
    background-image: url('./img/index-3.jpg');
  }
}

.landing__annotation {
  position: absolute;
  bottom: 21px;
  right: 134px;

  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);

  width: 297px;
  height: 48px;
}

@media all and (max-width: 640px) {
  .landing__body {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .landing__annotation {
    right: 50%;
    transform: translateX(50%);

    text-align: center;
  }
}

@media all and (max-width: 400px) {
  .landing__body {
    padding-top: 0;
  }
}
