/*
.footer__wrapper-up {
  display: flex;
  max-width: 1200px;
  width: 83.3%;
  height: 372px;

  box-sizing: border-box;

  padding: 0 20px;
}

@media all and (max-width: 1199px) {
  .footer__wrapper-up {
    display: none;
  }
}

.footer_narrow {
  .footer__wrapper-up {
    display: none;
  }
}
*/
