mixin review({ likes = 0, name = '', time = '', text = ''})
  -
    let srcImg = '';
    if (name === 'Мурад Сарафанов') {
      srcImg = require('../blocks/review/__photo/user1.jpg');
    } else if (name === 'Патрисия Стёклышкова') {
      srcImg = require('../blocks/review/__photo/user2.jpg');
    }

  .review
    .review__avatar
      img.review__photo(src= srcImg)
      +like(likes)
    .review__body
      .review__name= name
      .review__time= time
      .review__text= text
