mixin review(options={})
  -
    const {
      likes = 0,
      name = '',
      time = '',
      text = ''
    } = options;
    let srcImg = require('../../assets/img/decorative/icon-color.svg');
    if (name === 'Мурад Сарафанов') {
      srcImg = require('../../assets/img/content/user-1.jpg');
    } else if (name === 'Патрисия Стёклышкова') {
      srcImg = require('../../assets/img/content/user-2.jpg');
    }

  article.review
    .review__user
      img.review__photo(src= srcImg alt="User photo")
      +like(likes)
    .review__body
      h3.review__name= name
      time.review__time(datetime="1970-01-01")= time
      p.review__text= text
