mixin review(options={})
  -
    const {
      likes = 0,
      name = '',
      time = '',
      text = ''
    } = options;

    const srcImg = (() => {
      switch (name) {
        case 'Мурад Сарафанов':
          return require('../../assets/img/content/user-1.jpg');
        case 'Патрисия Стёклышкова':
          return require('../../assets/img/content/user-2.jpg');
        default:
          return require('../../assets/img/decorative/icon-color.svg');
      }
    })();

  article.review
    .review__user
      img.review__photo(src= srcImg alt="User photo")
      +like(likes)
    .review__body
      h3.review__name= name
      time.review__time(datetime="1970-01-01")= time
      p.review__text= text
