mixin review(options={})
  -
    const {
      likes = 0,
      name = '',
      time = '',
      text = ''
    } = options;
    let srcImg = '';
    if (name === 'Мурад Сарафанов') {
      srcImg = require('../../assets/img/content/user-1.jpg');
    } else if (name === 'Патрисия Стёклышкова') {
      srcImg = require('../../assets/img/content/user-2.jpg');
    }

  .review
    .review__user
      img.review__photo(src= srcImg alt="User photo")
      +like(likes)
    .review__body
      span.review__name= name
      span.review__time= time
      p.review__text= text
