/*
.hamburger__label {
  position: relative;

  width: 0;
}

.hamburger__label::after {
  height: 40px;

  font-family: material-icons, Arial, sans-serif;
  line-height: 40px;
  font-size: 24px;

  content: 'menu';

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  cursor: pointer;
}

.hamburger__expand:checked + .hamburger__label::after {
  content: 'close';
}
*/
