mixin radio__button({ text = '', name = 'undefined-name', value = 'on', checked = false } = {})
  input.radio__button.js-radio__button(type='radio' data-name= name value= value checked= checked)
  label.radio__button-label.js-radio__button-label(data-name= name)= text
