.slider {
  min-width: 266px;
  max-width: 1024px;
  width: 100%;

  min-height: min-content;
  max-height: min-content;
  height: min-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-family: montserrat, Arial, sans-serif;
  color: rgba(31, 32, 65, 0.5);
  line-height: 12px;
  font-size: 12px;

  position: relative;
}

.slider__body {
  width: 100%;
  height: 32px;

  position: relative;
}

.slider__input {
  display: none;
}

.slider__strip-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.slider__strip {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;

  height: 6px;
  width: 100%;

  box-sizing: border-box;
}

.slider__thumb-container {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  > .slider__thumb-container {
    position: relative;

    flex-direction: row;

    height: min-content;

    > .slider__thumb-container {
      display: block;
      width: auto;

      flex-shrink: 0;
      flex-grow: 1;
    }
  }
}

.slider__thumb {
  position: relative;

  left: 0;
  top: 0;

  box-sizing: border-box;

  width: 16px;
  height: 16px;

  border: 2px solid white;
  border-radius: 10px;

  cursor: pointer;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

  z-index: 1;
}

.slider__thumb_dragging {
  z-index: 2;
}

/*
.slider__thumb_additional {
  z-index: 1;
}
*/

.slider__thumb_spacer {
  flex-shrink: 0;
  flex-grow: 0;

  visibility: hidden;
}

.slider__thumb_half-spacer {
  flex-shrink: 0;
  flex-grow: 0;

  width: 8px;
  height: 0;

  //transform: scale(0.5, 0.5);

  visibility: hidden;
}


.slider__bar-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  > .slider__bar-container {
    position: relative;

    display: flex;
    flex-direction: row;

    height: min-content;

    > .slider__bar-container {
      flex-grow: 1;

      position: relative;

      display: block;

      height: min-content;
    }
  }
}

.slider__bar {
  position: relative;

  left: 0;
  width: 0;
  height: 6px;

  border-radius: 3px;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.slider__tip {
  position: relative;

  height: 12px;
  width: max-content;

  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  z-index: inherit;
}

.slider__tip::selection {
  background: transparent;
}

.slider__scale-container {
  width: 100%;

  display: flex;
}

.slider__scale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex: 1 1 0;

  min-width: 0;
  min-height: 0;
}

.slider__point-value {
  position: relative;
  width: min-content;
  height: min-content;

  cursor: pointer;

  z-index: 1;
}

.slider__point-value::selection {
  background: transparent;
}

.slider__point {
  position: relative;

  overflow: hidden;

  .slider__point-value {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider__point:first-child {
  overflow: visible;
  min-width: 0;
  min-height: 0;

  .slider__point-value {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider__point:last-child {
  overflow: visible;
  min-width: 0;
  min-height: 0;

  .slider__point-value {
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider__point.slider__point_penult {
  overflow: visible;
  min-width: 0;
  min-height: 0;

  .slider__point-value {
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider.slider_vertical {
  min-width: min-content;
  max-width: min-content;
  width: min-content;

  min-height: 266px;
  max-height: 1024px;
  height: 100%;

  flex-direction: row-reverse;

  .slider__body {
    width: 32px;

    min-height: 266px;
    max-height: 1024px;
    height: 100%;
  }

  .slider__strip-container {
    flex-direction: row;
  }

  .slider__strip {
    width: 6px;
    height: 100%;
  }

  .slider__thumb-container {
    flex-direction: row;

    > .slider__thumb-container {
      flex-direction: column;

      height: 100%;
      width: min-content;

      > .slider__thumb-container {
        height: auto;
      }
    }
  }

  .slider__thumb_half-spacer {
    width: 0;
    height: 8px;
  }

  .slider__bar-container {
    flex-direction: row;

    > .slider__bar-container {
      flex-direction: column;

      width: min-content;
      height: 100%;

      > .slider__bar-container {
        width: min-content;
        height: auto;
      }
    }
  }

  .slider__bar {
    left: 0;

    height: 0;
    top: 0;

    width: 6px;
  }

  .slider__tip {
    bottom: 0;
    left: 125%;
    transform: none;
  }

  .slider__scale-container {
    height: auto;

    flex-direction: column;
    justify-content: space-between;
  }

  .slider__scale {
    flex-direction: column-reverse;
  }

  .slider__point {
    .slider__point-value {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slider__point:first-child {
    .slider__point-value {
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
    }
  }

  .slider__point:last-child {
    .slider__point-value {
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
    }
  }

  .slider__point.slider__point_penult {
    .slider__point-value {
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
    }
  }
}

.slider_without-range .slider__bar-container .slider__thumb_half-spacer {
  width: 0;
  height: 0;
  border: 0;
}
