.dropdown__label {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 0 5px 0;
}

.dropdown__label::selection {
  background: transparent;
}

.dropdown__label:nth-child(2) {
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5);
}

.dropdown__item {
  .dropdown__label {
    flex-grow: 1;
    margin: 0;
  }
}