.button__input {
  font-family: montserrat, Arial, sans-serif;

  color: #BC9CFF;

  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;

  border: 0;

  padding: 0 0 0 1px;

  height: 15px;

  position: absolute;
  left: 0;
  top: 0;

  background: transparent;
}

.button__input:disabled {
  color: rgba(31, 32, 65, 0.5);

  cursor: auto;
}

.button__input:active {
  transform: scale(0.95);
}
