.datepicker__cell {
  width: 40px;
  height: 40px;

  line-height: 40px;
  text-align: center;

  font-size: 12px;

  padding: 0;

  cursor: default;

  position: relative;
}

.datepicker__cell::selection {
  background: transparent;
}

.datepicker__cell_other-month {
  color: rgba(31, 32, 65, 0.25);
}

.datepicker__cell_highlight {
  //color: white;
  //font-weight: bold;
  //
  //background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  //
  //border-radius: 22px;

  cursor: pointer;
}

.datepicker__cell_today {
  color: white;
  font-weight: bold;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

  border-radius: 22px;

  //cursor: pointer;
}

.datepicker__cell_selected {
  color: white;
  font-weight: bold;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  border-radius: 22px;
}

.datepicker_filter {
  .datepicker__cell {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
