.page {
  color: #1f2041;
  font-family: montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.page__body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}
