mixin page(options={})
  doctype html
  html.page(lang="ru")
    +head(options)
    body.page__body
      +header({
        items: [
          {
            text: 'О нас',
            isBold: true,
            isMost: true,
          },
          {
            subtitle: 'Услуги',
            subitems: [
              {
                text: 'Такси',
              },
              {
                text: 'Завтрак',
              },
              {
                text: 'Авиабилеты',
              },
            ],
          },
          {
            text: 'Вакансии',
          },
          {
            text: 'Новости',
          },
          {
            subtitle: 'Соглашения',
            subitems: [
              {
                text: 'Headers & Footers',
                link: './headers-footers.html',
                isOutside: false,
              },
              {
                text: 'Cards',
                link: './cards.html',
                isOutside: false,
              },
              {
                text: 'Form Elements',
                link: './form-elements.html',
                isOutside: false,
              },
              {
                text: 'Colors & Type',
                link: './colors-type.html',
                isOutside: false,
              },
            ],
          },
        ]})
      block
      +footer
