mixin page({ title = 'page' })
  doctype html
  html.page(lang="ru")
    head
      meta(charset="utf-8")
      title= title
      meta(name="description" content="2 этап обучения Metalamp")
      meta(name="Keywords" content="javascript, SCSS, PUG, webpack")
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
      link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/site.webmanifest")
      link(rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
      link(rel="shortcut icon" href="assets/favicons/favicon.ico")
      meta(name="msapplication-TileColor" content="#da532c")
      meta(name="msapplication-config" content="assets/favicons/browserconfig.xml")
      meta(name="theme-color" content="#ffffff")
    body.page__body
      +header({
        items: [
          {
            text: 'О нас',
            bold: true,
            most: true,
          },
          {
            subtitle: 'Услуги',
            subitems: [
              {
                text: 'Такси',
              },
              {
                text: 'Завтрак',
              },
              {
                text: 'Авиабилеты',
              },
            ],
          },
          {
            text: 'Вакансии',
          },
          {
            text: 'Новости',
          },
          {
            subtitle: 'Соглашения',
            subitems: [
              {
                text: 'Headers & Footers',
                link: 'headers-footers.html',
                out: false,
              },
              {
                text: 'Cards',
                link: 'cards.html',
                out: false,
              },
              {
                text: 'Form Elements',
                link: 'form-elements.html',
                out: false,
              },
              {
                text: 'Colors & Type',
                link: 'colors-type.html',
                out: false,
              },
            ],
          },
        ]})
      block
      +footer
