.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;

  width: calc(100vw - (100vw - 100%));
}

/* @media all and (max-width: 400px) {
  .details {
    width: calc(100vw - (100vw - 100%));
  }
} */

