.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  flex-grow: 1;

  &__gallery {
    width: 100%;
    max-width: 1920px;
    height: 52vmin;
    max-height: 485px;
    display: grid;
    grid-template:
      "armchair bed" 50.1%
      "armchair coffee-table" auto
      / 68.125% auto;

    &-slot {
      width: 100%;
      height: 100%;
      overflow: hidden;

      &:nth-child(1) {
        grid-area: armchair;
      }

      &:nth-child(2) {
        grid-area: bed;
      }

      &:nth-child(3) {
        grid-area: coffee-table;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    width: 80.56%;
    max-width: 1160px;
    padding: min(70px, 8vmin) 0 min(69px, 8vmin);
    display: grid;
    grid-template:
      "advantage chart card" 304px
      "reviews reviews card" auto
      "rules cancel card" 160px / 280px auto 38.79%;
  }

  &__header {
    font-size: 19px;
    line-height: 23px;
    color: #1f2041;
    font-weight: bold;

    &_indented {
      padding-left: 20px;
    }
  }

  &__advantage {
    display: grid;
    grid-template-rows: 44px auto;
    grid-area: advantage;
  }

  &__chart {
    display: grid;
    grid-template-rows: 45px auto;
    grid-area: chart;
    justify-self: end;
    padding-right: 38px;
  }

  &__card {
    grid-area: card;
    justify-self: end;
  }

  &__reviews {
    display: grid;
    align-items: start;
    grid-template-rows: 24px auto;
    grid-row-gap: 20px;
    grid-area: reviews;
    padding-bottom: 30px;
    height: fit-content;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: fit-content;
    }
  }

  &__number-reviews {
    font-size: 14px;
    line-height: 14px;
    color: rgb(31 32 65 / 50%);
  }

  &__rules {
    display: grid;
    grid-template-rows: 41px auto;
    grid-area: rules;
    height: fit-content;
  }

  &__cancel {
    display: grid;
    grid-template-rows: 41px auto;
    grid-area: cancel;
    justify-self: end;
    height: fit-content;
    padding-right: 9px;
    max-width: 341px;
  }

  &__paragraph {
    font-size: 14px;
    line-height: 24px;
    color: rgb(31 32 65 / 75%);
    margin: 0;
  }
}

@media all and (min-width: 1025px) and (max-width: 1366px) {
  .details {
    &__body {
      grid-template:
        "chart chart chart chart card card" 170px
        "reviews reviews reviews reviews card card" 342px
        "reviews reviews reviews reviews empty advantage" auto
        "rules rules cancel cancel cancel advantage" auto / 1fr 1fr 1fr 1fr 100px 280px;
    }

    &__chart {
      padding-right: 0;
      justify-self: center;
    }

    &__advantage {
      justify-self: end;
      padding-top: 50px;
    }

    &__reviews {
      padding-top: 50px;
      padding-right: 50px;
    }

    &__cancel {
      padding-right: 40px;
      padding-left: 40px;
      max-width: none;
    }
  }
}

@media all and (min-width: 801px) and (max-width: 1024px) {
  .details {
    &__body {
      width: 90%;
      grid-template:
        "chart card" 170px
        "advantage card" 342px
        "reviews reviews" auto
        "rules cancel" auto / auto 380px;
    }

    &__chart {
      padding-right: 0;
      justify-self: center;
    }

    &__advantage {
      justify-self: center;
      padding-top: 50px;
    }

    &__reviews {
      padding-top: 50px;
    }

    &__rules {
      padding-right: 50px;
    }

    &__cancel {
      padding-right: 0;
      max-width: none;
    }
  }
}

@media all and (min-width: 641px) and (max-width: 800px) {
  .details {
    &__body {
      width: 100%;
      grid-template:
        "card card" 562px
        "advantage chart" auto
        "reviews reviews" auto
        "rules cancel" auto / 1fr 1fr;
    }

    &__card {
      justify-self: center;
      padding-bottom: 50px;
    }

    &__chart {
      justify-self: center;
      padding-right: 0;
    }

    &__advantage {
      justify-self: center;
    }

    &__reviews {
      padding: 60px 10%;
    }

    &__rules {
      padding: 0 10%;
    }

    &__cancel {
      padding: 0 10%;
      max-width: none;
    }
  }
}

@media all and (max-width: 640px) {
  .details {
    &__body {
      width: 100%;
      justify-items: center;
      grid-template-areas:
        "card" 512px
        "advantage" auto
        "chart" auto
        "reviews" auto
        "cancel" auto
        "rules" auto / 1fr;
    }

    &__card {
      justify-self: center;
    }

    &__chart {
      justify-self: center;
      padding-right: 0;
    }

    &__advantage {
      justify-self: center;
      padding: 60px 0;
    }

    &__reviews {
      padding: 60px 10%;
      grid-template-rows: auto;

      &-header {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20px;
      }
    }

    &__number-reviews {
      padding-top: 10px;
    }

    &__rules {
      padding: 0 10%;
    }

    &__cancel {
      padding: 0 10% 60px;
      max-width: none;
    }
  }
}

@media all and (max-width: 400px) {
  .details {
    &__body {
      padding-top: 0;
    }

    &__card {
      width: 100%;
    }
  }
}
