mixin details
  -
    const images = [
      require('../../assets/img/content/room-content-1.jpg'),
      require('../../assets/img/content/room-content-2.jpg'),
      require('../../assets/img/content/room-content-3.jpg'),
    ];

  .details
    .details__gallery
      each img in images
        .details__gallery-slot
          img.details__photo(src= img alt="Room photo")
    .details__body
      block
