/*
.text-field__input {
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  font-family: montserrat, Arial, sans-serif;

  width: 303px;
  height: 42px;

  margin: 0;
  padding: 0 14px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  z-index: 1;
}

.text-field__input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);

  outline: 0;
}

.text-field__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-field:hover {
  .text-field__input {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}
*/
