/*
.hamburger__item {
  font-size: 14px;
  line-height: 20px;

  color: rgba(31, 32, 65, 0.5);

  text-decoration: none;

  padding: 10px 30px 0 30px;
}

.hamburger__item:last-child {
  padding: 10px 30px 20px 30px;
}

.hamburger__item::selection {
  background: transparent;
}

@media all and (min-width: 640px) and (max-width: 1199px) {
  .hamburger__item:nth-child(6),
  .hamburger__item:nth-child(7) {
    display: none;
  }

  .hamburger__item:nth-child(5) {
    padding: 10px 30px 20px 30px;
  }
}

.header_signed {
  .hamburger__item:nth-child(6),
  .hamburger__item:nth-child(7) {
    display: none;
  }
  .hamburger__item:nth-child(5) {
    padding: 10px 30px 20px 30px;
  }
}
*/
