.slider__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slider_vertical {
  .slider__body {
    flex-direction: row-reverse;
    justify-content: center;

    height: 100%;
    min-height: 266px;
    max-height: 512px;
  }
}