.paginator {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
}

.paginator__body {
  display: flex;
}

.paginator__description {
  padding: 9px 0 0 0;

  color: rgba(31, 32, 65, 0.75);
}

.paginator__item {
  display: none;

  position: relative;

  text-align: center;
  font-size: 12px;

  border-radius: 20px;

  color: rgba(31, 32, 65, 0.5);

  cursor: pointer;

  &:last-child,
  &:nth-child(2),
  &:nth-last-child(2) {
    display: block;
  }
}

.paginator__item::selection {
  background: transparent;
}

.paginator__item:active {
  transform: scale(0.9);
}

.paginator:not([data-active="1"]) .paginator__item:first-child {
  display: block;
}

.paginator__item:first-child,.paginator__item:last-child {
  font-family: material-icons, Arial, sans-serif;
  font-size: 24px;
  color: white;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

@media all and (min-width: 781px) {
  .paginator__item {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  @for $i from 1 through 15 {
    .paginator[data-active='#{$i}'] {
      .paginator__item:nth-child(#{$i - 2}):not(:first-child):not(:nth-child(2)) {
        display: block;
        pointer-events: none;
        color: transparent;
        border: transparent;
        &:after {
          content: '...';
          position: absolute;
          color: rgba(31, 32, 65, 0.5);
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      .paginator__item:nth-child(#{$i - 1}):not(:first-child) {
        display: block;
      }
      .paginator__item:nth-child(#{$i}):not(:first-child) {
        display: block;
      }
      .paginator__item:nth-child(#{$i + 1}) {
        display: block;
        color: white;
        font-weight: bold;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

        +.paginator__item:last-child {
          display: none;
        }
      }
      .paginator__item:nth-child(#{$i + 2}):not(:last-child) {
        display: block;
      }
      .paginator__item:nth-child(#{$i + 3}):not(:last-child) {
        display: block;
      }
      .paginator__item:nth-child(#{$i + 4}):not(:last-child):not(:nth-last-child(2)) {
        display: block;
        pointer-events: none;
        color: transparent;
        border: transparent;
        &:after {
          content: '...';
          position: absolute;
          color: rgba(31, 32, 65, 0.5);
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}

@media all and (max-width: 780px) {
  .paginator__item {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  @for $i from 1 through 15 {
    .paginator[data-active='#{$i}'] {
      .paginator__item:nth-child(#{$i - 1}):not(:first-child):not(:nth-child(2)) {
        display: block;
        pointer-events: none;
        color: transparent;
        border: transparent;
        &:after {
          content: '...';
          position: absolute;
          color: rgba(31, 32, 65, 0.5);
          left: 50%;
          transform: translate(-50%, 0);
        }
      }

      .paginator__item:nth-child(#{$i}):not(:first-child) {
        display: block;
      }

      .paginator__item:nth-child(#{$i + 1}) {
        display: block;
        color: white;
        font-weight: bold;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

        +.paginator__item:last-child {
          display: none;
        }
      }

      .paginator__item:nth-child(#{$i + 2}):not(:last-child) {
        display: block;
      }

      .paginator__item:nth-child(#{$i + 3}):not(:last-child):not(:nth-last-child(2)) {
        display: block;
        pointer-events: none;
        color: transparent;
        border: transparent;
        &:after {
          content: '...';
          position: absolute;
          color: rgba(31, 32, 65, 0.5);
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}
