.card-registration {
  display: grid;
  width: 380px;
  height: 646px;
  box-sizing: border-box;
  padding: 39px 29px;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  grid-template-rows: 50px 482px auto;
  justify-items: start;
  cursor: default;
  z-index: 0;

  &__header {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__form {
    width: 100%;
    display: grid;
    grid-template-rows: 54px 54px 44px 84px 74px 54px 44px 74px;
    grid-template-columns: 1fr;
    justify-items: start;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
  }

  &__sign-in {
    margin: 0 0 0 10px;
  }
}

@media all and (max-width: 400px) {
  .card-registration {
    width: 100%;
    border-left: 0;
    border-right: 0;
    padding: 39px 3%;
    justify-items: center;

    &__header {
      font-size: 21px;
      text-align: center;
    }

    &__form {
      justify-items: center;
    }

    &__header,
    &__footer,
    &__form {
      width: 94%;
    }
  }
}
