.card-registration {
  display: grid;

  width: 380px;
  height: 646px;

  box-sizing: border-box;

  padding: 39px 29px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  background: white;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  grid-template-rows: 50px 482px auto;
  grid-template-columns: 1fr;

  justify-items: start;

  cursor: default;

  z-index: 0;
}

.card-registration__header {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  width: 100%;

  margin: 0;
}

.card-registration__form {
  width: 100%;

  display: grid;

  grid-template-rows: 54px 54px 44px 84px 74px 54px 44px 74px;
  grid-template-columns: 1fr;

  justify-items: start;
}

.card-registration__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  width: 100%;
  height: fit-content;
}

.card-registration__sign-in {
  margin: 0 0 0 10px;
}

@media all and (max-width: 400px) {
  .card-registration {
    width: 100%;

    border-left: 0;
    border-right: 0;

    padding: 39px 3%;

    justify-items: center;
  }

  .card-registration__header {
    font-size: 21px;
    text-align: center;
  }

  .card-registration__form {
    justify-items: center;
  }

  .card-registration__header,.card-registration__footer,.card-registration__form {
    width: 94%;
  }
}

