mixin card-registration
  .card-registration
    h1.card-registration__header Регистрация аккаунта
    form.card-registration__form.js-card-registration__form
      +text-field({
        name: 'registration-name',
        placeholder: 'Имя'
      })
      +text-field({
        name: 'registration-surname',
        placeholder: 'Фамилия'
      })
      +radio({
        name: 'registration-sex',
        items: [
          {
            value: 'male',
            text: 'Мужчина',
            checked: true,
          },
          {
            value: 'female',
            text: 'Женщина',
          },
        ]
      })
      +text-field({
        name: 'registration-birth',
        label: 'Дата рождения',
        type: 'date'
      })
      +text-field({
        name: 'registration-email',
        placeholder: 'Email',
        label: 'Данные для входа в сервис',
        type: 'email',
      })
      +text-field({
        name: 'registration-password',
        placeholder: 'Пароль',
        type: 'password',
      })
      +toggle({
        name: 'registration-spam',
        text: 'Получать спецпредложения',
        value: 'spam',
      })
      +button({
        width: 'ultra-wide',
        purple: true,
        arrowed: true,
        text: 'зарегистрироваться',
      })
    .card-registration__footer Уже есть аккаунт на Toxin
      form.card-registration__sign-in(action="./sign-in.html")
        +button({
          width: 'regular',
          bordered: true,
          text: 'Войти',
          disabled: false,
        })
