mixin card-registration
  form.card-registration.js-card-registration
    p.card-registration__header Регистрация аккаунта
    +text-field({
      name: 'registration-name',
      placeholder: 'Имя'
    })
    +text-field({
      name: 'registration-surname',
      placeholder: 'Фамилия'
    })
    +radio({name: 'registration-sex'})
      +radio__button({name: 'male', text: 'Мужчина', value: 'male', checked: true})
      +radio__button({name: 'female', text: 'Женщина', value: 'female'})
    +text-field({
      name: 'registration-birth',
      label: 'Дата рождения',
      type: 'date'
    })
    +text-field({
      name: 'registration-email',
      placeholder: 'Email',
      label: 'Данные для входа в сервис',
      type: 'email',
    })
    +text-field({
      name: 'registration-password',
      placeholder: 'Пароль',
      type: 'password',
    })
    +toggle({name: 'registration-spam', text: 'Получать спецпредложения', value: 'spam'})
    +button({
      width: 'ultra-wide',
      arrowed: true,
      text: 'зарегистрироваться',
      purple: true,
    })
    .card-registration__footer Уже есть аккаунт на Toxin
      a.card-registration__sign-in(href='./Sign in.html')
        +button({ type: 'white', text: 'войти', disabled: false, submit: false })
