.dropdown__button {
  background-color: transparent;

  margin: 19px 7px 6px 15px;
  padding: 0;

  border: 0;
  outline: 0;

  height: 15px;

  font-family: montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: #bc9cff;

  cursor: pointer;
}

.dropdown__button::selection {
  background: transparent;
}

.dropdown__button:active {
  text-shadow: 1px 1px;
}

.dropdown__button:disabled {
  cursor: default;
}