.colors-and-type {
  display: flex;
  padding-left: 150px;
  
  > .colors-and-type__element {
    margin-left: 243px;
    width: 450px;
  }

  > .colors-and-type__element:first-child {
    margin-left: 0;
  }
  
}