.list-colors {
  list-style: none;
  padding-top: 10px;
  
  > .list-colors__item {
      margin-top: 20px;
      display: flex;
      align-items: center;
    
    > .list-colors__item {
      margin-left: 40px;
    }

    > .list-colors__item:first-child {
      margin-left: 0;
    }
  }

  > .list-colors__item:first-child {
      margin-top: 0;
  }
  
  .list-colors__item {
    &.list-colors__item_square {
      width: 70px;
      height: 70px;
      border-radius: 6px;
    }

    &.list-colors__item_dark {
      background-color: #1f2041;
    }

    &.list-colors__item_purple {
      background-color: #bc9cff;
    }

    &.list-colors__item_green {
      background-color: #6fcf97;
    }

    &.list-colors__item_opacity-75 {
      opacity: 0.75;
    }

    &.list-colors__item_opacity-50 {
      opacity: 0.5;
    }

    &.list-colors__item_opacity-25 {
      opacity: 0.25;
    }

    &.list-colors__item_opacity-05 {
      opacity: 0.05;
    }
  }

  %list-colors__text {
    font-size: 19px;
    line-height: 28px;
  }

  .list-colors__color-name {
    @extend %list-colors__text;
    font-weight: bold;
  }
  
  .list-colors__color-value {
    @extend %list-colors__text;
    text-transform: uppercase;
  }

}