.ui-kit {
  color: #1f2041;
  font-family: montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;

  &.ui-kit_white {
    background-color: #ffffff;
  }

  &.ui-kit_gray {
    background-color: #e5e5e5;
  }
}


