mixin advantage(items=[])
  .advantage
    each item in items
      -
        const {
          icon = 'insert_emoticon',
          text = '',
          explanation = '',
          isUnderlined = true,
        } = item;

        const classItem = isUnderlined
          ? 'advantage__item_underlined'
          : '';

      .advantage__item(class= classItem)
        .advantage__icon= icon
        .advantage__text
          span.advantage__header= text
          span.advantage__explanation= explanation
