mixin text-field(name, placeholder, label, description)
  .text-field
    .text-field__header
      if (label)
        p.text-field__label= label
      if (description)
        p.text-field__label= description
    input(type='text' class='text-field__input' name= name placeholder= placeholder)