mixin text-field(name, placeholder, label, description)
  .text-field
    .text-field__header
      if (label)
        p.text-field__label= label
      if (description)
        p.text-field__label= description
    input.text-field__input(type='text' name= name placeholder= placeholder)