mixin text-field(id, name, placeholder, label, description)
  .text-field
    .text-field__header
      if (label)
        label.text-field__label(for= id)= label
      if (description)
        p.text-field__label= description
    input.text-field__input(type='text' id= id name= name placeholder= placeholder)