mixin text-field({ name = 'undefined-name', placeholder = 'text', label = '', description = '', mask = '' } = {})
  -
    let classString = '';
    if (mask === 'date') {
      classString = 'text-field_date js-text-field_date';
    }

  .text-field.js-text-field(class= classString)
    .text-field__header
      if (label)
        p.text-field__label= label
      if (description)
        p.text-field__label= description
    .text-field__wrapper.js-text-field__wrapper
      input.text-field__input.js-text-field__input(name= name placeholder= placeholder type='text')
