mixin text-field({ name = 'undefined-name', placeholder = 'text', label = '', description = '', mask = '' } = {})
  .text-field.js-text-field(data-mask= mask)
    .text-field__header
      if (label)
        p.text-field__label= label
      if (description)
        p.text-field__label= description
    .text-field__wrapper.js-text-field__wrapper
      input.text-field__input.js-text-field__input(name= name placeholder= placeholder type='text')
