.button__input.button__input_white {
  position: absolute;

  left: 2px;
  top: 2px;

  width: 95px;
  height: 40px;

  box-sizing: border-box;

  border-radius: 22px;

  background: white;

  color: #bc9cff;
}

.button__input.button__input_white:disabled {
  color: #bc9cff;
}
