.footer__header {
  padding: 4px 0 21px 0;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.footer__item:nth-child(5) {
  .footer__header {
    padding: 4px 0 19px 0;
  }
}

