@font-face {
  font-family: 'montserrat';
  src:url('../../fonts/montserrat-regular.woff') format('woff'),
      url('../../fonts/montserrat-regular.ttf') format('truetype'),
      url('../../fonts/montserrat-regular.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src:url('../../fonts/montserrat-bold.woff') format('woff'),
      url('../../fonts/montserrat-bold.ttf') format('truetype'),
      url('../../fonts/montserrat-bold.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'materialicons';
  src:url('../../fonts/MaterialIcons-Regular.woff') format('woff'),
      url('../../fonts/MaterialIcons-Regular.ttf') format('truetype'),
      url('../../fonts/MaterialIcons-Regular.svg#materialiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ui-kit {
  color: #1f2041;
  font-family: montserrat, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
}