mixin ui-kit(options={})
  -
    const {
      title = 'ui-kit',
      theme = 'white'
    } = options;

    const uiKitTheme = theme === 'gray'
      ? 'ui-kit_theme_gray'
      : 'ui-kit_theme_white';

  doctype html
  html.ui-kit(class= uiKitTheme lang="ru")
    +head(options)
    body.ui-kit__body
      .ui-kit__header
      block
