mixin ui-kit(options={})
  -
    const {
      title = 'ui-kit',
      theme = 'white'
    } = options;
    let uiKitTheme;
    switch (theme) {
      case 'gray':
        uiKitTheme = 'ui-kit_theme_gray';
        break;
      default:
        uiKitTheme = 'ui-kit_theme_white';
    }

  doctype html
  html.ui-kit(class= uiKitTheme lang="ru")
    +head
    body.ui-kit__body
      .ui-kit__header
      block
