mixin footer__social
  .footer__social
    a.footer__twitter(href='https://twitter.com/?lang=ru')
    a.footer__facebook(href='https://ru-ru.facebook.com/')
    a.footer__instagram(href='https://www.instagram.com/')
