.details__rules {
  display: grid;

  grid-template-rows: 30px auto;
  grid-template-columns: 1fr;

  grid-area: e;
}

@media all and (max-width: 959px) {
  .details__rules {
    grid-template-columns: 270px;
    width: 310px;
  }
}
