.slider-toxin {
  width: 266px;
  outline: 0;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    height: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__label {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__value {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 15px;
    color: rgb(31 32 65 / 50%);
  }

  &__description {
    font-size: 12px;
    line-height: 15px;
    color: rgb(31 32 65 / 50%);
  }
}
