@font-face {
  font-family: 'montserrat';
  src:url('./montserrat-regular.woff') format('woff'),
  url('./montserrat-regular.ttf') format('truetype'),
  url('./montserrat-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src:url('./montserrat-bold.woff') format('woff'),
  url('./montserrat-bold.ttf') format('truetype'),
  url('./montserrat-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'material-icons';
  src:url('./material-icons-regular.woff') format('woff'),
  url('./material-icons-regular.ttf') format('truetype'),
  url('./material-icons-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'toxin';
  src:url('./toxin.ttf') format('truetype'),
  url('./toxin.woff') format('woff'),
  url('./toxin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
