.checkbox__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);

  padding: 0 0 6px 0;
}

.checkbox__header::selection {
  background: transparent;
}
