include ../../blocks/page/page
include ../../blocks/head/head
include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/burger/burger
include ../../blocks/hyper/hyper
include ../../blocks/button/button
include ../../blocks/footer/footer
include ../../blocks/subscription/subscription
include ../../blocks/social/social
include ../../blocks/details/details
include ../../blocks/advantage/advantage
include ../../blocks/chart/chart
include ../../blocks/card-details/card-details
include ../../blocks/datepicker/datepicker
include ../../blocks/dropdown/dropdown
include ../../blocks/review/review
include ../../blocks/like/like
include ../../blocks/bullet-list/bullet-list
+page({title: 'Room details'})
  +details
    section.details__advantage
      h2.details__header Сведения о номере
      +advantage([
        {
          text: 'Комфорт',
          explanation: 'Шумопоглощающие стены',
        },
        {
          icon: 'location_city',
          text: 'Удобство',
          explanation: 'Окно в каждой из спален',
        },
        {
          icon: 'whatshot',
          text: 'Уют',
          explanation: 'Номер оснащён камином',
          underlined: false,
        },
      ])
    section.details__chart
      h2.details__header Впечатления от номера
      +chart({fabulous: 113, good: 87, satisfactorily: 41, disappointed: 19})
    .details__card
      +card-details({ number: '888', lux: true, price: 9990, discount: 2179, fee: 0, feeAdd: 300 })
    section.details__reviews
      .details__reviews-header
        h2.details__header Отзывы посетителей номера
        .details__number-reviews 2 отзыва
      +review({
        likes: 11,
        name: 'Мурад Сарафанов',
        time: '5 дней назад',
        text: `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.`,
      })
      +review({
        likes: 2,
        name: 'Патрисия Стёклышкова',
        time: 'Неделю назад',
        text: `Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент`,
      })
    section.details__rules
      h2.details__header.details__header_indented Правила
      +bullet-list([
        'Нельзя с питомцами',
        'Без вечеринок и мероприятий',
        'Время прибытия — после 13:00, а выезд до 12:00',
      ])
    section.details__cancel
      h2.details__header Отмена
      p.details__paragraph Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
