.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  min-height: 70px;
  width: 100%;
  box-shadow: 0 10px 20px rgb(31 32 65 / 5%);
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 99;

  &__body {
    max-width: 1160px;
    width: 80.56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    flex-grow: 0;
    margin-left: 20.5px;

    &_most {
      flex-grow: 1;
      text-align: right;
    }

    &_hidden {
      display: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &_leftmost {
      margin-left: 0;
    }
  }

  &__user {
    line-height: 30px;
    height: 30px;
    color: rgb(31 32 65 / 50%);
    padding-left: 20px;
    border-left: 1px solid rgb(31 32 65 / 10%);
    max-width: calc(100vw * 0.8056 - 146px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media all and (max-width: 1152px) {
  .header {
    &__item {
      display: none;

      &_hidden,
      &_visible {
        margin-left: 0;
        display: block;
      }
    }

    &__user {
      padding-left: 0;
      border-left: 0;
    }
  }
}

@media all and (max-width: 400px) {
  .header {
    &__body {
      width: 94%;
    }
  }
}
