mixin header(options={})
  -
    const {
      user = '',
    } = options;
    let headerClass = '';
    if (user) {
      headerClass = 'header_signed';
    }

  header.header(class= headerClass)
    .header__body
      .header__item
        +burger({
          items: [
            {
              text: 'О нас',
              bold: true,
            },
            {
              subtitle: 'Услуги',
              subitems: [
                {
                  text: 'Такси',
                },
                {
                  text: 'Завтрак',
                },
                {
                  text: 'Авиабилеты',
                },
              ],
            },
            {
              text: 'Вакансии',
            },
            {
              text: 'Новости',
            },
            {
              subtitle: 'Соглашения',
              subitems: [
                {
                  text: 'Headers & Footers',
                  link: 'headers-footers.html',
                  out: false,
                },
                {
                  text: 'Cards',
                  link: 'cards.html',
                  out: false,
                },
                {
                  text: 'Form Elements',
                  link: 'form-elements.html',
                  out: false,
                },
                {
                  text: 'Colors & Type',
                  link: 'colors-type.html',
                  out: false,
                },
              ],
            },
            {
              text: 'Войти',
              link: './sign-in.html',
              out: false,
            },
            {
              text: 'Зарегистрироваться',
              link: './registration.html',
              out: false,
            },
          ]
        })
      .header__item
        +logo
      .header__item
        +hyper({ text: 'О нас', bold: true })
      .header__item
        +burger({
          title: 'Услуги',
          items: [
            {
              text: 'Такси',
            },
            {
              text: 'Завтрак',
            },
            {
              text: 'Авиабилеты',
            },
          ],
        })
      .header__item
        +hyper({ text: 'Вакансии' })
      .header__item
        +hyper({ text: 'Новости' })
      .header__item
        +burger({
          title: 'Соглашения',
          items: [
            {
              text: 'Headers & Footers',
              link: './headers-footers.html',
              out: false,
            },
            {
              text: 'Cards',
              link: './cards.html',
              out: false,
            },
            {
              text: 'Form Elements',
              link: './form-elements.html',
              out: false,
            },
            {
              text: 'Colors & Type',
              link: './colors-type.html',
              out: false,
            },
          ],
        })
      if (user)
        .header__item
          .header__user= user
      else
        .header__item
          form.header__form(action="./sign-in.html")
            +button({
              width: 'narrow',
              low: true,
              bordered: true,
              text: 'Войти',
              disabled: false,
            })
        .header__item
          form.header__form(action="./registration.html")
            +button({
              width: 'wide',
              low: true,
              purple: true,
              text: 'Зарегистрироваться',
              disabled: false,
            })

//-
  else
    .header.header_signed
      .header__wrapper
        +burger({
          title: '',
          items: [
            {
              text: 'Регистрация',
              link: 'https://natribu.org/ru/',
            },
            {
              text: 'О них',
            },
            {
              text: 'Обо всех',
            },
            {
              subtitle: 'Ни о чём',
              subitems: [
                {
                  text: 'Такси',
                  link: 'https://taxi.com',
                },
                {
                  text: 'Завтрак',
                  link: 'https://breakfast.com',
                },
              ],
            },
            {
              text: 'Ещё одна ссылка',
            },
            {
              subtitle: 'каларупаТочкаКом',
              subitems: [
                {
                  text: 'хабр',
                  link: 'https://taxi.com',
                },
                {
                  text: 'хУЯБР',
                  link: 'https://breakfast.com',
                },
              ],
            },
          ]
        })
        +header__item({href: 'https://www.figma.com/404/'})
          +logo
        //- +header__item({about: true}) О нас
        +burger({
          title: 'ТайтЛ',
          items: [
            {
              text: 'Регистрация',
              link: 'https://natribu.org/ru/',
            },
            {
              text: 'О них',
            },
            {
              text: 'Обо всех',
            },
            {
              subtitle: 'Ни о чём',
              subitems: [
                {
                  text: 'Такси',
                  link: 'https://taxi.com',
                },
                {
                  text: 'Завтрак',
                  link: 'https://breakfast.com',
                },
              ],
            },
            {
              text: 'Ещё одна ссылка',
            },
            {
              subtitle: 'каларупаТочкаКом',
              subitems: [
                {
                  text: 'хабр',
                  link: 'https://taxi.com',
                },
                {
                  text: 'хУЯБР',
                  link: 'https://breakfast.com',
                },
              ],
            },
          ]
        })
        //- +menu({label: 'Услуги', id: `service${id}`})
          //- +menu__item({text: 'Такси', href: 'https://yandex.ru'})
          //- +menu__item({text: 'Завтрак'})
        +header__item Вакансии
        +header__item Новости
        //- +menu({label: 'Соглашения', id: `agreement${id}`})
          //- +menu__item({text: 'Пользовательское'})
          //- +menu__item({text: 'Администраторское'})
          //- +menu__item({text: 'Гостевое'})
        +header__user({user})
