mixin header(options={})
  -
    const {
      user = '',
      items = [],
    } = options;
    const rightmost = !user;
    let burgerItems = [ ...items ];
    if (!user) {
      burgerItems = burgerItems.concat([
        {
          text: 'Войти',
          link: './sign-in.html',
          out: false,
        },
        {
          text: 'Зарегистрироваться',
          link: './registration.html',
          out: false,
        },
      ]);
    }
    const burgerOptions = { rightmost, items: burgerItems };

  header.header
    nav.header__body
      if (user === '')
        .header__item.header__item_visible
          +logo
      .header__item.header__item_hidden
        +burger(burgerOptions)
      if (user !== '')
        .header__item.header__item_visible.header__item_leftmost
          +logo
      each item in items
        -
          const {
            subtitle = '',
            subitems = [],
            text = '404',
            link = 'https://google.com/404',
            out = true,
            bold = false,
            most = false,
          } = item;
          let itemMost = '';
          if (most) {
            itemMost = 'header__item_most';
          }
        .header__item(class= itemMost)
          if (subtitle)
            +burger({
              title: subtitle,
              items: subitems,
            })
          else
            +hyper({text, link, out, bold})
      if (user !== '')
        .header__item.header__item_visible
          .header__user= user
      else
        .header__item
          form.header__form(action="./sign-in.html")
            +button({
              width: 'narrow',
              low: true,
              bordered: true,
              text: 'Войти',
              disabled: false,
            })
        .header__item
          form.header__form(action="./registration.html")
            +button({
              width: 'wide',
              low: true,
              purple: true,
              text: 'Зарегистрироваться',
              disabled: false,
            })
