mixin header(options={})
  -
    const {
      user = '',
    } = options;
    const rightmost = !user;

  header.header
    .header__body
      if (user === '')
        .header__item.header__item_visible
          +logo
      .header__item.header__item_hidden
        +burger({
          rightmost,
          items: [
            {
              text: 'О нас',
              bold: true,
            },
            {
              subtitle: 'Услуги',
              subitems: [
                {
                  text: 'Такси',
                },
                {
                  text: 'Завтрак',
                },
                {
                  text: 'Авиабилеты',
                },
              ],
            },
            {
              text: 'Вакансии',
            },
            {
              text: 'Новости',
            },
            {
              subtitle: 'Соглашения',
              subitems: [
                {
                  text: 'Headers & Footers',
                  link: 'headers-footers.html',
                  out: false,
                },
                {
                  text: 'Cards',
                  link: 'cards.html',
                  out: false,
                },
                {
                  text: 'Form Elements',
                  link: 'form-elements.html',
                  out: false,
                },
                {
                  text: 'Colors & Type',
                  link: 'colors-type.html',
                  out: false,
                },
              ],
            },
            {
              text: 'Войти',
              link: './sign-in.html',
              out: false,
            },
            {
              text: 'Зарегистрироваться',
              link: './registration.html',
              out: false,
            },
          ]
        })
      if (user !== '')
        .header__item.header__item_visible.header__item_leftmost
          +logo
      .header__item.header__item_most
        +hyper({ text: 'О нас', bold: true })
      .header__item
        +burger({
          title: 'Услуги',
          items: [
            {
              text: 'Такси',
            },
            {
              text: 'Завтрак',
            },
            {
              text: 'Авиабилеты',
            },
          ],
        })
      .header__item
        +hyper({ text: 'Вакансии' })
      .header__item
        +hyper({ text: 'Новости' })
      .header__item
        +burger({
          title: 'Соглашения',
          items: [
            {
              text: 'Headers & Footers',
              link: './headers-footers.html',
              out: false,
            },
            {
              text: 'Cards',
              link: './cards.html',
              out: false,
            },
            {
              text: 'Form Elements',
              link: './form-elements.html',
              out: false,
            },
            {
              text: 'Colors & Type',
              link: './colors-type.html',
              out: false,
            },
          ],
        })
      if (user !== '')
        .header__item.header__item_visible
          .header__user= user
      else
        .header__item
          form.header__form(action="./sign-in.html")
            +button({
              width: 'narrow',
              low: true,
              bordered: true,
              text: 'Войти',
              disabled: false,
            })
        .header__item
          form.header__form(action="./registration.html")
            +button({
              width: 'wide',
              low: true,
              purple: true,
              text: 'Зарегистрироваться',
              disabled: false,
            })
