.details__gallery {
  width: 100%;
  max-width: 1920px;
  height: 52vmin;
  max-height: 485px;

  display: grid;
  grid-template-columns: 68.125% auto;
  grid-template-rows: 50.1% auto;
  grid-template-areas:  'armchair bed' 'armchair coffee-table';
}
