.details__gallery {
  width: 100%;
  max-width: 1440px;
  height: 485px;

  display: grid;
  grid-template-columns: 68.125% auto;
  grid-template-rows: 50.1% auto;
  grid-template-areas: 'a b' 'a c';

  overflow: hidden;
}

@media all and (max-width: 851px) {
  .details__gallery {
    grid-template-areas: 'a a' 'a a';
  }
}
