mixin details__gallery
  .details__gallery
    .details__gallery-slot
      img.details__photo(src=require('../blocks/details/img/details-1.jpg') alt="Room photo")
    .details__gallery-slot
      img.details__photo(src=require('../blocks/details/img/details-2.jpg') alt="Room photo")
    .details__gallery-slot
      img.details__photo(src=require('../blocks/details/img/details-3.jpg') alt="Room photo")
