mixin details__gallery
  .details__gallery
    img.details__photo(src=require('../blocks/details/__photo/photo1.png'))
    img.details__photo(src=require('../blocks/details/__photo/photo2.png'))
    img.details__photo(src=require('../blocks/details/__photo/photo3.png'))
