mixin details__gallery
  .details__gallery
    img.details__photo(src=require('../blocks/details/__photo/photo1.jpg'))
    img.details__photo(src=require('../blocks/details/__photo/photo2.jpg'))
    img.details__photo(src=require('../blocks/details/__photo/photo3.jpg'))
