include ../../blocks/page/page
include ../../blocks/head/head
include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/burger/burger
include ../../blocks/hyper/hyper
include ../../blocks/button/button
include ../../blocks/footer/footer
include ../../blocks/subscription/subscription
include ../../blocks/social/social
include ../../blocks/sign-registry/sign-registry
include ../../blocks/card-registration/card-registration
include ../../blocks/text-field/text-field
include ../../blocks/radio/radio
include ../../blocks/toggle/toggle
+page({title: 'Registration'})
  +sign-registry({ registry: true })
    +card-registration
