.form-elements {
  padding: 8px 0 0 141px;

  display: grid;
  grid-template-columns: 374px 320px 320px;
  grid-template-rows: 733px 688px 158px;
  column-gap: 72px;

  > .form-elements {
    padding: 0;
  }

  > .form-elements:nth-child(1) {
    grid-template-columns: 1fr;
    grid-template-rows: 84px 84px 87px 104px 104px 105px 105px;
  }
}