.form-elements {
  padding: 8px 0 0 141px;
  display: grid;
  grid-template-columns: 374px 320px 320px;
  grid-template-rows: 733px auto;
  column-gap: 72px;

  &__item {
    display: grid;

    &:first-child {
      grid-template-rows: 84px 84px 87px 104px 104px 105px 20px auto;
    }

    &:nth-child(2) {
      grid-template-rows: 31px 139px 31px 61px 31px 34px 64px 31px 60px 31px 60px;
    }

    &:nth-child(3) {
      grid-template-rows: 88px 31px 278px 31px 75px;
    }

    &:nth-child(4) {
      grid-template-rows: 84px 236px minmax(64px, min-content) 305px auto;
    }

    &:nth-child(5) {
      grid-template-rows: 320px 31px 347px auto;
    }

    &:nth-child(6) {
      grid-template-rows: 320px 29px 347px auto;
    }
  }

  &__label {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__dropdown {
    width: fit-content;
  }

  &__item:first-child &__dropdown:nth-child(3) {
    z-index: 9;
  }

  &__item:first-child &__dropdown:nth-child(5) {
    z-index: 8;
  }

  &__item:first-child &__dropdown:nth-child(6) {
    z-index: 7;
  }

  &__item:nth-child(4) &__dropdown:first-child {
    z-index: 6;
  }

  &__item:nth-child(4) &__dropdown:nth-child(2) {
    z-index: 5;
  }

  &__item:nth-child(4) &__dropdown:nth-child(3) {
    z-index: 4;
    padding-bottom: 20px;
  }

  &__item:nth-child(4) &__dropdown:nth-child(4) {
    z-index: 3;
    padding-bottom: 20px;
  }

  &__item:nth-child(5) &__dropdown:first-child {
    z-index: 2;
  }

  &__item:nth-child(6) &__dropdown:first-child {
    z-index: 1;
  }

  &__like-wrapper {
    display: grid;
    grid-template-columns: 50px auto;
  }

  &__rate-wrapper {
    display: grid;
    grid-template-columns: 140px auto;
  }

  &__button-wrapper {
    display: grid;
    grid-template:
      "a a b" 74px
      "c c d" 61px
      "e f f" 59px
      "g g g" auto / 81px 38px auto;
  }

  &__button {
    &:first-child {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: e;
    }

    &:nth-child(6) {
      grid-area: f;
    }

    &:nth-child(7) {
      grid-area: g;
    }
  }

  &__review-wrapper {
    width: 711px;
  }
}
