/*
.footer__wrapper-narrow {
  display: none;

  width: 100%;

  height: 367px;

  padding: 120px 0 0 0;

  flex-direction: column;

  align-items: center;

  background: white;

  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  box-sizing: border-box;
}

@media all and (max-width: 1199px) {
  .footer__wrapper-narrow {
    display: flex;
  }
}

.footer_narrow {
  .footer__wrapper-narrow {
    display: flex;

    max-width: 768px;
  }
}
*/
