.dropdown.dropdown_confirm {
  .dropdown-buttons {

    height: 48px;

    .dropdown-confirm {
      visibility: visible;
    }
  }
}

.dropdown.dropdown_confirm.dropdown-open {
  .dropdown-down {
    height: 203px;
  }
}