.details__number-reviews {
  position: absolute;
  top: 7px;
  right: 1px;

  font-size: 14px;
  line-height: 14px;

  text-align: right;

  color: rgba(31, 32, 65, 0.5);
}

@media all and (max-width: 959px) {
  .details__number-reviews {
    right: auto;
    left: 0;
    top: 30px;
  }
}
