mixin list-type(items=[])
  .list-type
    each item in items
      -
        const {
          type = '',
          description = '',
        } = item;
        let fontSize = '';
        let exampleType = '';
        let descriptionType = '';
        if (type.toLowerCase() === 'h1') {
          fontSize = 'list-type__item_font-size_24px';
          exampleType = 'list-type__example-title';
          descriptionType = 'list-type__description-title';
        } else if (type.toLowerCase() === 'h2') {
          fontSize = 'list-type__item_font-size_19px'
          exampleType = 'list-type__example-title';
          descriptionType = 'list-type__description-title';
        } else if (type.toLowerCase() === 'h3') {
          fontSize = 'list-type__item_font-size_12px'
          exampleType = 'list-type__example-label';
          descriptionType = 'list-type__description-label';
        } else if (type.toLowerCase() === 'body') {
          fontSize = 'list-type__item_font-size_14px'
          exampleType = 'list-type__example-body';
          descriptionType = 'list-type__description-body';
        }
      .list-type__item(class= fontSize)
        .list-type__item
          p(class= exampleType)= type
        .list-type__item
          p(class= descriptionType)= description
