.card-details__info {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;

  color: rgba(31, 32, 65, 0.25);
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
