.landing__annotation {
  position: absolute;
  bottom: 21px;
  right: -6px;

  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);

  width: 297px;
  height: 48px;
}

@media all and (max-width: 639px) {
  .landing__annotation {
    right: 50%;
    transform: translateX(50%);

    text-align: center;
  }
}
