.dropdown__drop {
  height: 42px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  position: relative;

  transition: border 0.4s;

  //z-index: 2;

  //transition-property: z-index, border;
  //transition-duration: 0.4s, 0.4s;
  //transition-delay: 0s, 0s;

  background: white;
}

.dropdown_open {
  .dropdown__drop {
    border: 1px solid rgba(31, 32, 65, 0.5);

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    //z-index: 8;
  }
}