mixin checkbox__button({ name = 'undefined-name', text = '', value = 'on', checked = false, header = '' } = {})
  -
    let labelClass = '';
    if (header !== '') {
      labelClass = 'checkbox__button-label_small-font';
    }

  input.checkbox__button.js-checkbox__button(type='checkbox' data-name= name value= value checked= checked)
  label.checkbox__button-label.js-checkbox__button-label(data-name= name class= labelClass)
    if (header)
      .checkbox__header= header
    = text

