.card-details__header {
  padding: 4px 0 0 0;

  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 21px 56px 143px 55px auto;

  color: rgba(31, 32, 65, 0.5);

  font-size: 12px;

  align-items: baseline;
}

/*
@media all and (max-width: 959px) {
  .card-details__header {
    text-align: center;
  }
}
*/
