.card-room {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 167px 33px auto;

  width: 270px;
  height: 257px;

  box-sizing: border-box;

  border-radius: 4px;

  background: white;

  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}
