mixin card-room({ number = '', lux = '', price = 0, rate = 0, reviews = 0 } = {})
  -
    let img1 = '';
    let img2 = '';
    let img3 = '';
    let img4 = '';
    switch(number) {
      case '888':
        img1 = require('../blocks/card-room/__image/img1.jpg');
        img2 = require('../blocks/card-room/__image/img2.jpg');
        img3 = require('../blocks/card-room/__image/img3.jpg');
        img4 = require('../blocks/card-room/__image/img4.jpg');
        break;
      case '840':
        img1 = require('../blocks/card-room/__image/img2.jpg');
        img2 = require('../blocks/card-room/__image/img3.jpg');
        img3 = require('../blocks/card-room/__image/img4.jpg');
        img4 = require('../blocks/card-room/__image/img5.jpg');
        break;
      case '980':
        img1 = require('../blocks/card-room/__image/img3.jpg');
        img2 = require('../blocks/card-room/__image/img4.jpg');
        img3 = require('../blocks/card-room/__image/img5.jpg');
        img4 = require('../blocks/card-room/__image/img6.jpg');
        break;
      case '856':
        img1 = require('../blocks/card-room/__image/img4.jpg');
        img2 = require('../blocks/card-room/__image/img5.jpg');
        img3 = require('../blocks/card-room/__image/img6.jpg');
        img4 = require('../blocks/card-room/__image/img7.jpg');
        break;
      case '740':
        img1 = require('../blocks/card-room/__image/img5.jpg');
        img2 = require('../blocks/card-room/__image/img6.jpg');
        img3 = require('../blocks/card-room/__image/img7.jpg');
        img4 = require('../blocks/card-room/__image/img8.jpg');
        break;
      case '982':
        img1 = require('../blocks/card-room/__image/img6.jpg');
        img2 = require('../blocks/card-room/__image/img7.jpg');
        img3 = require('../blocks/card-room/__image/img8.jpg');
        img4 = require('../blocks/card-room/__image/img9.jpg');
        break;
      case '678':
        img1 = require('../blocks/card-room/__image/img7.jpg');
        img2 = require('../blocks/card-room/__image/img8.jpg');
        img3 = require('../blocks/card-room/__image/img9.jpg');
        img4 = require('../blocks/card-room/__image/img10.jpg');
        break;
      case '450':
        img1 = require('../blocks/card-room/__image/img8.jpg');
        img2 = require('../blocks/card-room/__image/img9.jpg');
        img3 = require('../blocks/card-room/__image/img10.jpg');
        img4 = require('../blocks/card-room/__image/img11.jpg');
        break;
      case '350':
        img1 = require('../blocks/card-room/__image/img9.jpg');
        img2 = require('../blocks/card-room/__image/img10.jpg');
        img3 = require('../blocks/card-room/__image/img11.jpg');
        img4 = require('../blocks/card-room/__image/img12.jpg');
        break;
      case '666':
        img1 = require('../blocks/card-room/__image/img10.jpg');
        img2 = require('../blocks/card-room/__image/img11.jpg');
        img3 = require('../blocks/card-room/__image/img12.jpg');
        img4 = require('../blocks/card-room/__image/img1.jpg');
        break;
      case '444':
        img1 = require('../blocks/card-room/__image/img11.jpg');
        img2 = require('../blocks/card-room/__image/img12.jpg');
        img3 = require('../blocks/card-room/__image/img1.jpg');
        img4 = require('../blocks/card-room/__image/img2.jpg');
        break;
      case '352':
        img1 = require('../blocks/card-room/__image/img12.jpg');
        img2 = require('../blocks/card-room/__image/img1.jpg');
        img3 = require('../blocks/card-room/__image/img2.jpg');
        img4 = require('../blocks/card-room/__image/img3.jpg');
        break;
    }

  .card-room.js-card-room(data-slide='0')
    .card-room__gallery
      img.card-room__image(src= img1)
      img.card-room__image(src= img2)
      img.card-room__image(src= img3)
      img.card-room__image(src= img4)
      .card-room__back.js-card-room__back expand_more
      .card-room__forward.js-card-room__forward expand_more
      .card-room__nav.js-card-room__nav
        .card-room__nav-item.js-card-room__nav-item(data-slide='0')
        .card-room__nav-item.js-card-room__nav-item(data-slide='1')
        .card-room__nav-item.js-card-room__nav-item(data-slide='2')
        .card-room__nav-item.js-card-room__nav-item(data-slide='3')
    a.card-room__header(href='./Room details.html')
      .card-room__number №
      .card-room__numeric= number
      .card-room__lux= lux
      .card-room__price= `${new Intl.NumberFormat('ru-RU').format(price)}₽`
      = 'в сутки'
    .card-room__footer
      +rate(rate)
      .card-room__reviews= reviews
      .card-room__reviews-text Отзывов

