include ../../blocks/ui-kit/ui-kit
include ../../blocks/head/head
include ../../blocks/headers-footers/headers-footers
include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/burger/burger
include ../../blocks/hyper/hyper
include ../../blocks/button/button
include ../../blocks/footer/footer
include ../../blocks/subscription/subscription
include ../../blocks/social/social
-
  const items = [
    {
      text: 'О нас',
      isBold: true,
      isMost: true,
    },
    {
      subtitle: 'Услуги',
      subitems: [
        {
          text: 'Такси',
        },
        {
          text: 'Завтрак',
        },
        {
          text: 'Авиабилеты',
        },
      ],
    },
    {
      text: 'Вакансии',
    },
    {
      text: 'Новости',
    },
    {
      subtitle: 'Соглашения',
      subitems: [
        {
          text: 'Headers & Footers',
          link: './headers-footers.html',
          isOutside: false,
        },
        {
          text: 'Cards',
          link: './cards.html',
          isOutside: false,
        },
        {
          text: 'Form Elements',
          link: './form-elements.html',
          isOutside: false,
        },
        {
          text: 'Colors & Type',
          link: './colors-type.html',
          isOutside: false,
        },
      ],
    },
  ]

+ui-kit({ title: 'Headers & Footers', theme: 'gray' })
  +headers-footers
    +header({ items })
    +header({ items, user: 'Юлий Цезарь' })
    +footer
    +footer({ isNarrow: true })



