.burger {
  $root: &;
  $square-size: 40px;
  $shadow: 0 0 15px rgba(31 32 65 / 75%);

  @mixin line {
    display: flex;
    font-size: 14px;
    line-height: 17px;
  }

  @mixin submenu-arrow {
    font-family: material-icons, Arial, sans-serif;
    font-size: 24px;
    line-height: 21px;
    padding-top: 2px;
    width: 24px;
    content: 'expand_more';
  }

  width: $square-size;
  height: $square-size;
  position: relative;
  cursor: pointer;
  color: rgba(31 32 65 / 50%);

  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: inherit;
    font-family: material-icons, Arial, sans-serif;
    line-height: $square-size;
    font-size: 24px;
    content: 'menu';
  }

  &:focus {
    outline: 0;
    text-shadow: $shadow;

    #{$root}__submenu {
      text-shadow: none;
    }
  }

  &::selection {
    background: transparent;
  }

  &_titled {
    @include line;

    width: fit-content;
    height: fit-content;
    align-items: flex-start;

    &::after {
      position: static;
      transform: none;
      width: 24px;
      height: 17px;
      line-height: 17px;
      content: 'expand_more';
    }

    &#{$root}_open {
      &::after {
        content: 'expand_less';
      }
    }
  }

  &__item {
    width: fit-content;
    padding: 20px 20px 0;

    &:last-child {
      padding: 20px;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 110%;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(31 32 65 / 25%);
    background: white;
    z-index: 1;
  }

  &_open {
    &::after {
      content: 'close';
    }

    #{$root}__menu {
      display: flex;
    }
  }

  &__submenu {
    @include line;

    align-items: center;
    position: relative;

    &:focus {
      outline: 0;
      text-shadow: $shadow;
    }

    &::after {
      @include submenu-arrow;

      transform: rotate(270deg);
    }

    #{$root}__menu {
      display: none;
      top: 0;
      left: 100%;
    }

    &_open {
      &::after {
        transform: rotate(90deg);
      }

      #{$root}__menu {
        display: flex;
      }
    }

    &::selection {
      background: transparent;
    }
  }

  &_position_right {
    #{$root}__menu {
      right: 0;
      align-items: flex-end;
    }

    #{$root}__submenu {
      &::after {
        display: none;
      }

      &::before {
        @include submenu-arrow;

        transform: rotate(90deg);
      }

      #{$root}__menu {
        left: auto;
        right: 100%;
        align-items: flex-start;
      }

      &_open {
        &::before {
          transform: rotate(270deg);
        }
      }
    }
  }
}
