.burger {
  width: 40px;
  height: 40px;

  position: relative;

  cursor: pointer;

  outline: 0;
}

.burger::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  height: 40px;

  font-family: material-icons, Arial, sans-serif;
  line-height: 40px;
  font-size: 24px;

  content: 'menu';
}

.burger_open::after {
  content: 'close';
}

.burger:focus::after {
  text-shadow: 0 0 10px rgba(31, 32, 65, 0.75);
}

.burger::selection {
  background: transparent;
}

.burger_titled {
  width: fit-content;
  height: fit-content;

  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.burger_titled::after {
  left: 100%;
  transform: none;

  height: inherit;
  width: fit-content;

  font-family: material-icons, Arial, sans-serif;
  line-height: 20px;
  font-size: 24px;
  color: rgba(31, 32, 65, 0.5);

  content: 'expand_more';
}

.burger_titled.burger_open::after {
  content: 'expand_less';
}

.burger__menu {
  display: none;

  position: absolute;
  top: 110%;

  flex-direction: column;

  border-radius: 4px;

  box-shadow: 0 0 20px 0 rgba(31, 32, 65, 0.25);

  background: white;

  z-index: 1;
}

.burger_open {
  .burger__menu {
    display: flex;
  }
}

.burger__item {
  width: fit-content;

  padding: 20px 20px 0 20px;
}

.burger__item:last-child {
  padding: 20px;
}

.burger__submenu {
  display: flex;
  align-items: center;

  outline: 0;

  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);

  position: relative;
}

.burger__submenu::selection {
  background: transparent;
}

.burger__submenu:focus {
  text-shadow: 0 0 15px rgba(31, 32, 65, 0.5);
}

.burger__submenu::after {
  font-family: material-icons, Arial, sans-serif;
  font-size: 24px;
  line-height: 21px;

  padding: 2px 0 0 0;

  width: 24px;

  content: 'expand_more';

  transform: rotate(270deg);
}

.burger__submenu_open::after {
  transform: rotate(90deg);
}

.burger__submenu {
  .burger__menu {
    display: none;

    top: 0;
    left: 100%;
  }
}

.burger__submenu_open {
  .burger__menu {
    display: flex;
  }
}
