.burger {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  outline: 0;

  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    font-family: material-icons, Arial, sans-serif;
    line-height: 40px;
    font-size: 24px;
    content: "menu";
  }

  &_open::after {
    content: "close";
  }

  &:focus {
    text-shadow: 0 0 10px rgba(31 32 65 / 75%);
  }

  &::selection {
    background: transparent;
  }

  &_titled {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31 32 65 / 50%);

    &::after {
      position: static;
      transform: none;
      width: 24px;
      height: 17px;
      line-height: 17px;
      font-family: material-icons, Arial, sans-serif;
      font-size: 24px;
      color: rgba(31 32 65 / 50%);
      content: "expand_more";
    }

    /* stylelint-disable-next-line */
    &.burger_open::after {
      content: "expand_less";
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 110%;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(31 32 65 / 25%);
    background: white;
    z-index: 1;
  }

  &_position_right &__menu {
    right: 0;
    align-items: flex-end;
  }

  &_open &__menu {
    display: flex;
  }

  &__item {
    width: fit-content;
    padding: 20px 20px 0;

    &:last-child {
      padding: 20px;
    }
  }

  &__submenu {
    display: flex;
    align-items: center;
    outline: 0;
    font-size: 14px;
    line-height: 17px;
    color: rgb(31 32 65 / 50%);
    position: relative;

    &:focus {
      text-shadow: 0 0 15px rgb(31 32 65 / 50%);
    }

    &::after {
      font-family: material-icons, Arial, sans-serif;
      font-size: 24px;
      line-height: 21px;
      padding: 2px 0 0;
      width: 24px;
      content: "expand_more";
      transform: rotate(270deg);
    }

    &_open::after {
      transform: rotate(90deg);
    }

    &::selection {
      background: transparent;
    }
  }

  &_position_right &__submenu {
    &::after {
      display: none;
    }

    &::before {
      font-family: material-icons, Arial, sans-serif;
      font-size: 24px;
      line-height: 21px;
      padding: 2px 0 0;
      width: 24px;
      content: "expand_more";
      transform: rotate(90deg);
    }

    &_open::before {
      transform: rotate(270deg);
    }
  }

  &__submenu &__menu {
    display: none;
    top: 0;
    left: 100%;
  }

  &__submenu_open &__menu {
    display: flex;
  }

  &_position_right &__submenu &__menu {
    display: none;
    top: 0;
    left: auto;
    right: 100%;
    align-items: flex-start;
  }

  &_position_right &__submenu_open &__menu {
    display: flex;
  }

  &:focus &__submenu {
    text-shadow: none;
  }
}
