mixin burger(options={})
  -
    const {
      title = '',
      isRightmost = false,
      items = [],
    } = options;

    const classTitled = title !== ''
      ? 'burger_titled'
      : '';

    const classPosition = isRightmost
      ? 'burger_position_right'
      : '';

  .burger.js-burger(tabindex="0" class= [classTitled, classPosition])= title
    .burger__menu
      each item in items
        -
          const {
            subtitle = '',
            subitems = [],
            text = '404',
            link = 'https://google.com/404',
            isOutside = true,
            isBold = false,
          } = item;
        .burger__item.js-burger__item
          if (subtitle !== '')
            .burger__submenu.js-burger__submenu(tabindex="0" data-timestamp="0" data-timer-id="0")= subtitle
              .burger__menu
                each subitem in subitems
                  -
                    const {
                      text = '404',
                      link = 'https://google.com/404',
                      isOutside = true,
                      isBold = false,
                    } = subitem;
                  .burger__item.js-burger__item
                    +hyper({text, link, isOutside, isBold})
          else
            +hyper({text, link, isOutside, isBold})
