mixin burger(options={})
  -
    const {
      title = '',
      items = [],
    } = options;
    let burgerClass = '';
    if (title) {
      burgerClass = 'burger_titled';
    }
  .burger.js-burger(tabindex="0" class= burgerClass)= title
    .burger__menu
      each item in items
        -
          const {
            subtitle = '',
            subitems = [],
            text = '404',
            link = 'https://google.com/404',
            out = true,
            bold = false,
          } = item;
        .burger__item.js-burger__item
          if (subtitle)
            .burger__submenu.js-burger__submenu(tabindex="0" data-timeStamp="0" data-timerID="0")= subtitle
              .burger__menu
                each subitem in subitems
                  -
                    const {
                      text = '404',
                      link = 'https://google.com/404',
                      out = true,
                      bold = false,
                    } = subitem;
                  .burger__item.js-burger__item
                    +hyper({text, link, out, bold})
          else
            +hyper({text, link, out, bold})
