.like.like_active {
  border: 1px solid #BC9CFF;
}

.like.like_active::before {
  content: 'favorite';

  color: #BC9CFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
