.details__gallery-slot {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.details__gallery-slot:nth-child(1) {
  grid-area: armchair;
}

.details__gallery-slot:nth-child(2) {
  grid-area: bed;
}

.details__gallery-slot:nth-child(3) {
  grid-area: coffee-table;
}

.details__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
