mixin subscription(options={})
  -
    const {
      isWide = false,
    } = options;

    const modifier = isWide
      ? 'subscription_width_wide'
      : '';

  form.subscription.js-subscription(class= modifier)
    input.subscription__input.js-subscription__input(name="subscription-email" placeholder="Email" type="email")
    button.subscription__button.js-subscription__button(type="submit" disabled) arrow_forward

