mixin subscription(options={})
  -
    const {
      wide = false,
    } = options;
    let modifier = '';
    if (wide) {
      modifier = 'subscription_width_wide';
    }

  form.subscription.js-subscription(class= modifier)
    input.subscription__input.js-subscription__input(name="subscription-email" placeholder="Email" type="email")
    button.subscription__button.js-subscription__button(type="submit" disabled) arrow_forward

