.slider__thumb {
  position: absolute;
  left: 0;

  width: 12px;
  height: 12px;

  border: 2px solid white;
  border-radius: 10px;

  cursor: pointer;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

  z-index: 1;
}

.slider_vertical {
  .slider__thumb {
    bottom: 0;
  }
}
