.like__number {
  font-family: montserrat, Arial, sans-serif;
  color: rgba(31, 32, 65, 0.25);
  font-size: 10px;
  line-height: 17px;

  height: 18px;

  text-align: center;

  position: absolute;
  left: 24px;

  transform: translate(-50%, 0);
}

.like__number::selection {
  background: transparent;
}

.like_active {
  .like__number {
    color: #BC9CFF;
  }
}
