.chart__slice {
  position: absolute;

  width: 120px;
  height: 120px;

  clip: rect(0px, 59px, 120px, 0px);

  border-radius: 60px;
}

.chart__slice.chart__slice_most {
  clip: auto;
}

.chart__slice_fabulous {
  background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

.chart__slice_good {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.chart__slice_satisfactorily {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.chart__slice_disappointed {
  background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
}
