mixin hamburger({ id = '' } = {})
  .hamburger
    input.hamburger__expand(type='checkbox' id= `hamburger__expand${id}`)
    label.hamburger__label(for= `hamburger__expand${id}`)
    .hamburger__down
      block
