mixin card-search
  form.card-search.js-card-search(action="./search-room.html")
    p.card-search__header Найдём номера под ваши пожелания
    .card-search__datepicker
      +datepicker({
        name: 'date',
        headerArrival: 'прибытие',
        headerDeparture: 'выезд',
        headerCommon: 'даты пребывания в отеле',
      })
    .card-search__dropdown
      +dropdown({
        placeholder: 'Сколько гостей',
        header: 'гости',
        confirm: true,
        clear: true,
        items: [
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей',
          },
          {
            name: 'child',
            units: 'дети',
            surplus: true,
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев',
          },
        ],
      })
    +button({
      width: 'ultra-wide',
      text: 'подобрать номер',
      purple: true,
      arrowed: true,
    })
