mixin card-search
  form.card-search.js-card-search(action="./search-room.html")
    h1.card-search__header Найдём номера под ваши пожелания
    .card-search__datepicker
      +datepicker({
        name: 'date',
        headerArrival: 'прибытие',
        headerDeparture: 'выезд',
        headerCommon: 'даты пребывания в отеле',
      })
    .card-search__dropdown
      +dropdown({
        placeholder: 'Сколько гостей',
        header: 'гости',
        hasConfirm: true,
        hasClear: true,
        items: [
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей',
            min: 1,
            max: 9,
          },
          {
            name: 'child',
            units: 'дети',
            isSurplus: true,
            max: 9,
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев',
            max: 5,
          },
        ],
      })
    +button({
      width: 'ultra-wide',
      text: 'подобрать номер',
      isPurple: true,
      isArrowed: true,
    })
