mixin demo-block({ type = '', label = '' })
  .demo-block
    if (label)
      .demo-block__label= label
    case type
      when 'toggle'
        .demo-block__wrapper.demo-block__wrapper_toggle
          block
      when 'like'
        .demo-block__wrapper.demo-block__wrapper_like
          block
      when 'rate'
        .demo-block__wrapper.demo-block__wrapper_rate
          block
      when 'buttons'
        .demo-block__wrapper.demo-block__wrapper_buttons
          block
      default
        .demo-block__wrapper
          block
