.list-colors {
  font-size: 19px;
  line-height: 28px;

  &__item {
    margin: 20px 0 0;
    display: flex;
    align-items: center;

    &:first-child {
      margin: 0;
    }

    & > & {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0 0 0 40px;
    }

    & > &:first-child {
      margin: 0;
    }

    & > & > & {
      margin: 0;
    }

    &_color_dark-shade {
      background-color: #1f2041;
    }

    &_color_dark-shade-05 {
      background-color: #1f2041;
      opacity: 0.05;
    }

    &_color_dark-shade-25 {
      background-color: #1f2041;
      opacity: 0.25;
    }

    &_color_dark-shade-50 {
      background-color: #1f2041;
      opacity: 0.5;
    }

    &_color_dark-shade-75 {
      background-color: #1f2041;
      opacity: 0.75;
    }

    &_color_green {
      background-color: #6fcf97;
    }

    &_color_purple {
      background-color: #bc9cff;
    }

    &_square {
      width: 70px;
      height: 70px;
      border-radius: 6px;
    }
  }

  &__color-name {
    font-weight: bold;
    margin: 0;
  }

  &__color-value {
    text-transform: uppercase;
    margin: 0;
  }
}
