mixin search
  main.search
    form.search__form
      .search__datepicker
        +datepicker({
          name: 'date',
          headerCommon: 'даты пребывания в отеле',
          modifier: 'filter'
        })
      .search__dropdown
        +dropdown({
          placeholder: 'Сколько гостей',
          header: 'гости',
          narrow: true,
          items: [
            {
              name: 'adult',
              units: 'взрослые гость гостя гостей',
              max: 9,
            },
            {
              name: 'child',
              units: 'дети ребёнок ребёнка детей',
              surplus: true,
              max: 9,
            },
            {
              name: 'baby',
              units: 'младенцы младенец младенца младенцев',
              max: 5,
            },
          ]
        })
      +slider-toxin({
        label: 'диапазон цены',
        description: 'Стоимость за сутки пребывания в номере',
        name: 'price',
        start: 1000,
        end: 15000,
        step: 1000,
        from: 5000,
        to: 10000,
      })
      .search__form-item
        .search__label правила дома
        +checkbox({
          items: [
            { name: 'smoke', text: 'Можно курить' },
            { name: 'pet', text: 'Можно с питомцами', checked: true },
            { name: 'party', text: 'Можно пригласить гостей (до 10 человек)', checked: true },
          ],
        })
      .search__form-item
        .search__label доступность
        +checkbox({
          items: [
            {
              name: 'wide',
              text: 'Широкий коридор',
              explanation: 'Ширина коридоров в номере не менее 91 см.',
            },
            {
              name: 'help',
              text: 'Помощник для инвалидов',
              explanation: 'На 1 этаже вас встретит специалист и проводит до номера',
            },
          ],
        })
      .search__dropdown
        +dropdown({
          placeholder: 'Сколько комнат',
          header: 'удобства номера',
          narrow: true,
          items: [
            {
              name: 'bedroom',
              units: 'спальни спальня спальни спален',
              max: 9,
            },
            {
              name: 'bed',
              units: 'кровати кровать кровати кроватей',
              max: 18,
            },
            {
              name: 'bath',
              units: 'ванные комнаты ванная ванных ванных',
              max: 9,
            },
          ]
        })
      +checkbox({
        expand: 'дополнительные удобства',
        items: [
          { text: 'Завтрак', name: 'breakfast' },
          { text: 'Письменный стол', name: 'table', checked: true },
          { text: 'Стул для кормления', name: 'chair', checked: true },
          { text: 'Кроватка', name: 'bed', checked: true },
          { text: 'Телевизор', name: 'tv' },
          { text: 'Шампунь', name: 'shampoo' },
        ],
      })
    article.search__result
      h1.search__header Номера, которые мы для вас подобрали
      .search__cards
        +card-room({ number: '888', price: 9990, rating: 5, reviews: 145, lux: true })
        +card-room({ number: '840', price: 9900, rating: 4, reviews: 65 })
        +card-room({ number: '980', price: 8500, rating: 3, reviews: 35, lux: true })
        +card-room({ number: '856', price: 7300, rating: 5, reviews: 19 })
        +card-room({ number: '740', price: 6000, rating: 4, reviews: 44 })
        +card-room({ number: '982', price: 5800, rating: 3, reviews: 56 })
        +card-room({ number: '678', price: 5500, rating: 5, reviews: 45 })
        +card-room({ number: '450', price: 5300, rating: 4, reviews: 39 })
        +card-room({ number: '350', price: 5000, rating: 3, reviews: 77 })
        +card-room({ number: '666', price: 5000, rating: 5, reviews: 25 })
        +card-room({ number: '444', price: 5000, rating: 3, reviews: 15 })
        +card-room({ number: '352', price: 5000, rating: 3, reviews: 55 })
      .search__paginator
        +paginator({ length: 15 })
  .search__border

