.chart__total {
  position: absolute;

  background: white;

  width: 112px;
  height: 106px;

  border-radius: 60px;

  z-index: 1;

  left: 4px;
  top: 4px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;

  color: #BC9CFF;

  padding-bottom: 6px;
}
