@use "sass:math";

@media all and (min-width: 1025px) {
  $size: 120px;
  $half: math.div($size, 2);

  .chart {
    &__figure {
      width: $size;
      height: $size;
    }

    &__hold {
      clip: rect(0, $size, $size, $half - 1px);

      &::before {
        left: $half - 1px;
        top: $size - 5px;
      }
    }

    &__slice {
      clip: rect(0, $half - 1px, $size, 0);
      border-radius: $half;
    }

    &__total {
      width: $size - 8px;
      height: $size - 14px;
      border-radius: $half;
    }

    &__legend {
      margin: 0 0 3px 30px;
    }
  }
}

@media all and (max-width: 1024px) {
  $size: 100px;
  $half: math.div($size, 2);

  .chart {
    &__figure {
      width: $size;
      height: $size;
    }

    &__hold {
      clip: rect(0, $size, $size, $half - 1px);

      &::before {
        left: $half - 1px;
        top: $size - 5px;
      }
    }

    &__slice {
      clip: rect(0, $half - 1px, $size, 0);
      border-radius: $half;
    }

    &__total {
      width: $size - 8px;
      height: $size - 14px;
      border-radius: $half;
    }

    &__legend {
      margin: 0 0 3px 30px;
    }
  }
}

.chart {
  display: flex;
  align-items: flex-end;
  background: white;
  height: fit-content;
  z-index: 0;
  margin: 0;

  &__figure {
    position: relative;
    margin-bottom: 5px;
  }

  &__hold {
    position: absolute;
    width: inherit;
    height: inherit;

    &_most {
      clip: auto;
    }

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 6px;
      background: white;
      z-index: 1;
    }
  }

  &__slice {
    position: absolute;
    width: inherit;
    height: inherit;

    &_most {
      clip: auto;
    }

    &_grade_fabulous {
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }

    &_grade_good {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }

    &_grade_satisfactorily {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &_grade_disappointed {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }

  &__total {
    position: absolute;
    background: white;
    z-index: 1;
    left: 4px;
    top: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: #bc9cff;
    padding-bottom: 6px;

    &-number {
      font-size: 24px;
      line-height: 29px;
      color: #bc9cff;
      font-weight: bold;
      margin-bottom: 1px;
    }
  }

  &__legend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__item {
    font-size: 14px;
    line-height: 24px;
    color: rgb(31 32 65 / 75%);
    display: flex;
    align-items: center;
  }

  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
  }

  &__item:nth-child(1) &__bullet {
    background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
  }

  &__item:nth-child(2) &__bullet {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &__item:nth-child(3) &__bullet {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &__item:nth-child(4) &__bullet {
    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
  }
}
