.text-field__label {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 0 5px 0;
}

.text-field__label:nth-child(2) {
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5);
}