/*
.footer__wrapper-up {
  .footer__item {
    margin: 100px 0 0 0;

    box-sizing: border-box;

    //flex-shrink: 0;
  }

  .footer__item:first-child {
    //margin: 100px 0 0 20px;

    width: 22.41%;
    max-width: 280px;

    flex-shrink: 0;
  }

  .footer__item:last-child {
    //margin: 100px 20px 0 0;

    width: 260px;
  }

  .footer__item:nth-child(2) {
    width: 20.69%;
    padding: 0 0 0 3.45%;

    flex-shrink: 0;
  }

  .footer__item:nth-child(3) {
    width: 17.24%;

    flex-shrink: 1;
  }

  .footer__item:nth-child(4) {
    width: 17.24%;

    flex-shrink: 0;
  }
}
*/
