.details__reviews {
  position: relative;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 43px 154px auto;

  grid-area: d;

  max-width: 711px;
}

@media all and (min-width: 960px) and (max-width: 1439px) {
  .details__reviews {
    max-width: none;

    margin-left: calc((50% - 310px)/2);
    margin-right: calc((50% - 380px)/2);
  }
}

@media all and (max-width: 959px) {
  .details__reviews {
    max-width: none;

    width: 310px;

    grid-template-rows: 63px 254px 254px;
  }
}

@media all and (max-width: 400px) {
  .details__reviews {
    width: 90%;
  }
}
