include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/cards/cards
include ../blocks/cards/__item/cards__item
include ../blocks/card-search/card-search
include ../blocks/datepicker/datepicker
include ../blocks/button/button
include ../blocks/toggle/toggle
include ../blocks/checkbox/checkbox
include ../blocks/dropdown/dropdown
include ../blocks/dropdown/__button-container/dropdown__button-container
include ../blocks/dropdown/__button/dropdown__button
include ../blocks/dropdown/__item/dropdown__item
include ../blocks/card-registration/card-registration
include ../blocks/text-field/text-field
include ../blocks/radio/radio
include ../blocks/radio/__button/radio__button
include ../blocks/card-details/card-details
include ../blocks/card-details/__header/card-details__header
include ../blocks/card-details/__calc/card-details__calc
include ../blocks/card-sign/card-sign
+ui-kit({ title: 'Cards', theme: 'gray' })
  +ui-kit__header
  +cards
    +cards__item
      +card-search
        +datepicker({ name: 'search-date', labelArrival: 'прибытие', labelDeparture: 'выезд', zIndex: 3})
        +dropdown({name: 'search-guest', defaultValue: 'Сколько гостей', label: 'гости', zIndex: 2, guests: 'guests'})
          +dropdown__button-container
            +dropdown__button({action: 'confirm', text: 'применить'})
            +dropdown__button({action: 'clear', text: 'очистить'})
          +dropdown__item({name: 'baby', units: 'младенцы младенец младенца младенцев'})
          +dropdown__item({name: 'child', units: 'дети'})
          +dropdown__item({name: 'adult', units: 'взрослые гость гостя гостей'})
        +button({ type: 'big', text: 'подобрать номер', disabled: true })
      +card-registration
        +text-field({ name: 'registration-name', placeholder: 'Имя' })
        +text-field({ name: 'registration-surname', placeholder: 'Фамилия' })
        +radio({ name: 'registration-sex' })
          +radio__button({ name: 'male', text: 'Мужчина', value: 'male', checked: true})
          +radio__button({ name: 'female', text: 'Женщина', value: 'female' })
        +text-field({ name: 'registration-birth', label: 'Дата рождения', mask: 'date' })
        +text-field({ name: 'registration-email', placeholder: 'Email', label: 'Данные для входа в сервис' })
        +text-field({ name: 'registration-password', placeholder: 'Пароль' })
        +toggle({ name: 'registration-spam', text: 'Получать спецпредложения', value: 'spam' })
        +button({ type: 'big', text: 'перейти к оплате', disabled: true })
    +cards__item
      +card-details({ number: '888', lux: 'люкс', price: 9990, discount: 2179, feeAdd: 300 })
      +card-sign
    +cards__item
      +datepicker({ name: 'search-date', labelArrival: 'прибытие', labelDeparture: 'выезд', zIndex: 3, modifier: 'demo' })
