include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/cards/cards
include ../blocks/card-search/card-search
include ../blocks/datepicker/datepicker
include ../blocks/button/button
include ../blocks/dropdown/dropdown
include ../blocks/card-registration/card-registration
include ../blocks/text-field/text-field
include ../blocks/radio/radio
include ../blocks/toggle/toggle
include ../blocks/checkbox/checkbox
include ../blocks/sign-in/sign-in
include ../blocks/card-details/card-details
include ../blocks/card-sign/card-sign
include ../blocks/card-room/card-room
include ../blocks/rate/rate
+ui-kit({ title: 'Cards', theme: 'gray' })
  +ui-kit__header
  +cards
    .cards__item
      +card-search
      +card-registration
    .cards__item
      +card-details({ number: '888', lux: 'люкс', price: 9990, discount: 2179, feeAdd: 300 })
      +card-sign
    .cards__item
      +datepicker({ modifier: 'demo' })
      +card-room({ number: '888', lux: 'люкс', price: 9990, rate: 5, reviews: 145 })
      +card-room({ number: '840', price: 9990, rate: 4, reviews: 65 })
