+ui-kit('Colors & Type','ui-kit_theme_white')
  +ui-kit__header
  +colors-and-type
    +list-colors('colors-and-type__element')
      +list-colors__item('Dark Shade 100%')
      +list-colors__item('Dark Shade 75%')
      +list-colors__item('Dark Shade 50%')
      +list-colors__item('Dark Shade 25%')
      +list-colors__item('Dark Shade 5%')
      +list-colors__item('Purple')
      +list-colors__item('Green')
    +list-type('colors-and-type__element')
      +list-type__item('h1','This one is the sub-section or widget title')
      +list-type__item('h2','Next one is the item title inside widgets')
      +list-type__item('h3','This is a label or CTA text')
      +list-type__item('Body','This is the body text which is used for most of the design, like paragraphs, lists, etc.')

            

