include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/form-elements/form-elements
include ../blocks/form-elements/__item/form-elements__item
include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/dropdown/__button-container/dropdown__button-container
include ../blocks/dropdown/__button/dropdown__button
include ../blocks/dropdown/__item/dropdown__item
include ../blocks/datepicker/datepicker
include ../blocks/toggle/toggle
include ../blocks/checkbox/checkbox
include ../blocks/subscription/subscription
include ../blocks/checkbox/__button/checkbox__button
include ../blocks/radio/radio
include ../blocks/radio/__button/radio__button
include ../blocks/demo-block/demo-block
include ../blocks/like/like
include ../blocks/rate/rate
include ../blocks/slider-toxin/slider-toxin
include ../blocks/paginator/paginator
+ui-kit({ title: 'Form elements', theme: 'white' })
  +ui-kit__header
  +form-elements
    +form-elements__item
      +text-field({ name: 'simple-field', placeholder: 'Email', label: 'text field', description: 'default'})
      +text-field({ name: 'hover-field', placeholder: 'This is pretty awesome', label: 'text field', description: 'hover / focus'})
      +dropdown({ name: 'guest', defaultValue: 'Сколько гостей', label: 'dropdown', zIndex: 5, guests: 'guests' })
        +dropdown__button-container
          +dropdown__button({action: 'clear', text: 'очистить'})
        +dropdown__item({name: 'liver', units: 'жильцы жилец жильца жильцов'})
        +dropdown__item({name: 'hobo', units: 'бомжы бомж бомжа бомжей'})
        +dropdown__item({name: 'baby', units: 'младенцы младенец младенца младенцев'})
        +dropdown__item({name: 'child', units: 'дети'})
        +dropdown__item({name: 'adult', units: 'взрослые гость гостя гостей'})
      +text-field({ name: 'masked-field', placeholder: 'ДД.ММ.ГГГГ', label: 'masked text field', description: '', mask: 'date'})
      +datepicker({ name: 'NewYear', labelArrival: 'date dropdown', labelDeparture: 'date dropdown', zIndex: 4, label: 'даты пребывания в отеле'})
      +datepicker({ name: 'OldYear', labelArrival: 'date dropdown', labelDeparture: 'date dropdown', zIndex: 3, label: 'filter date dropdown', modifier: 'filter' })
      +subscription('subscription text field')
    +form-elements__item
      +checkbox({ label: 'checkbox buttons', name: 'check' })
        +checkbox__button({ name: '1', text: 'Можно курить' })
        +checkbox__button({ name: '2', text: 'Можно с питомцами', checked: true })
        +checkbox__button({ name: '3', text: 'Можно пригласить гостей (до 10 человек)', checked: true })
      +radio({ label: 'radio buttons', name: 'radio' })
        +radio__button({ name: 'male', text: 'Мужчина', checked: true })
        +radio__button({ name: 'female', text: 'Женщина' })
      +demo-block({ type: 'toggle', label: 'toggle'})
        +toggle({ name: 'toggle1', text: 'Получать спецпредложения', checked: true })
        +toggle({ name: 'toggle2', text: 'Получать спецпредложения' })
      +demo-block({ type: 'like', label: 'like button' })
        +like(2)
        +like(11)
      +demo-block({ type: 'rate', label: 'rate button' })
        +rate(4)
        +rate(5)
    +form-elements__item
      +slider-toxin({
        label: 'диапазон цены',
        description: '',
        start: 1000,
        end: 15000,
        step: 1000,
        from: 5000,
        to: 10000,
        name: 'price-range',
      })
      +paginator({length: 15, label: 'pagination', demo: 'demo'})
