include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/colors-and-type/colors-and-type
include ../blocks/list-colors/list-colors
include ../blocks/list-colors/__item/list-colors__item
include ../blocks/list-type/list-type
include ../blocks/list-type/__item/list-type__item
include ../blocks/form-elements/form-elements
include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/dropdown/__button-container/dropdown__button-container
include ../blocks/dropdown/__item/dropdown__item
+ui-kit('Form elements','ui-kit_white')
  +ui-kit__header
  +form-elements
    +form-elements
      +text-field('id1', 'field_1','Email','text field','default')
      +text-field('id2', 'field_2','This is pretty awesome','text field','hover / focus')

      +dropdown('room1_KOMNATI', '', 'dropdown', 'помещение')
        +dropdown__item('room','комнаты')
        +dropdown__item('room','комнаты')
        +dropdown__item('room','комнаты')
      +dropdown('KALIDOR', '', 'dropdown', 'помещение')
        +dropdown__item('room','комнаты')
      +dropdown('halupa', '', 'dropdown', 'помещение')
        +dropdown__item('room','комнаты')
        +dropdown__item('room','комнаты')
        +dropdown__item('room','комнаты')
        +dropdown__item('room','комнаты')
        +dropdown__item('room','комнаты')
        +dropdown__item('room','комнаты')


