include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/form-elements/form-elements
include ../blocks/form-elements/__item/form-elements__item
include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/button/button
include ../blocks/datepicker/datepicker
include ../blocks/subscription/subscription
include ../blocks/checkbox/checkbox
include ../blocks/checkbox/__button/checkbox__button
include ../blocks/header/header
include ../blocks/hamburger/hamburger
include ../blocks/hamburger/__item/hamburger__item
include ../blocks/header/__item/header__item
include ../blocks/page/page
include ../blocks/logo/logo
include ../blocks/menu/menu
include ../blocks/menu/__item/menu__item
include ../blocks/header/__user/header__user
include ../blocks/radio/radio
include ../blocks/radio/__button/radio__button
include ../blocks/demo-block/demo-block
include ../blocks/toggle/toggle
include ../blocks/like/like
include ../blocks/rate/rate
include ../blocks/slider-toxin/slider-toxin
include ../blocks/paginator/paginator
include ../blocks/list/list
include ../blocks/list-icon/list-icon
include ../blocks/list-icon/__item/list-icon__item
include ../blocks/review/review
include ../blocks/list/__item/list__item
+ui-kit({ title: 'Form elements', theme: 'white' })
  +ui-kit__header
  +form-elements
    +form-elements__item
      +text-field({ name: 'simple-field', placeholder: 'Email', label: 'text field', description: 'default'})
      +text-field({ name: 'hover-field', placeholder: 'This is pretty awesome', label: 'text field', description: 'hover / focus'})
      +dropdown({
        name: 'guest',
        defaultValue: 'Сколько гостей',
        label: 'dropdown',
        zIndex: 7,
        guest: true,
        clear: true,
        items:[
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей',
          },
          {
            name: 'child',
            units: 'дети ребёнок ребёнка детей',
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев',
          },
          {
            name: 'hobo',
            units: 'бомжы бомж бомжа бомжей',
          },
          {
            name: 'live',
            units: 'жильцы жилец жильца жильцов',
          },
        ]
      })
      +text-field({ name: 'birth', label: 'masked text field', type: 'date'})
      +datepicker({ name: 'date-regular', labelArrival: 'date dropdown', labelDeparture: 'date dropdown', zIndex: 6, label: 'даты пребывания в отеле'})
      +datepicker({ name: 'date-filter', labelArrival: 'date dropdown', labelDeparture: 'date dropdown', zIndex: 5, label: 'filter date dropdown', modifier: 'filter' })
      +subscription({label: 'subscription text field'})
    +form-elements__item
      +checkbox({ label: 'checkbox buttons', name: 'check' })
        +checkbox__button({ name: '1', text: 'Можно курить' })
        +checkbox__button({ name: '2', text: 'Можно с питомцами', checked: true })
        +checkbox__button({ name: '3', text: 'Можно пригласить гостей (до 10 человек)', checked: true })
      +radio({ label: 'radio buttons', name: 'radio' })
        +radio__button({ name: 'male', text: 'Мужчина', checked: true })
        +radio__button({ name: 'female', text: 'Женщина' })
      +demo-block({ type: 'toggle', label: 'toggle'})
        +toggle({ name: 'toggle1', text: 'Получать спецпредложения', checked: true })
        +toggle({ name: 'toggle2', text: 'Получать спецпредложения' })
      +demo-block({ type: 'like', label: 'like button' })
        +like(2)
        +like(11)
      +demo-block({ type: 'rate', label: 'rate button' })
        +rate(4)
        +rate(5)
    +form-elements__item
      +slider-toxin({
        label: 'Range slider',
        description: '',
        start: 1000,
        end: 15000,
        step: 1000,
        from: 5000,
        to: 10000,
        name: 'price-range',
      })
      +demo-block({ type: 'buttons', label: 'buttons' })
        +button({
          width: 'regular',
          purple: true,
          text: 'click me',
          disabled: false
        })
        +button({
          width: 'regular',
          purple: true,
          text: 'click me',
        })
        +button({
          width: 'regular',
          bordered: true,
          text: 'click me',
          disabled: false
        })
        +button({
          width: 'regular',
          bordered: true,
          text: 'click me',
        })
        +button({ text: 'click me', disabled: false })
        +button({ text: 'click me' })
        +button({
          width: 'ultra-wide',
          purple: true,
          arrowed: true,
          text: 'перейти к оплате',
          disabled: false
        })
      +paginator({ length: 15, label: 'pagination', demo: 'demo' })
    +form-elements__item
      +dropdown({
        name: 'room',
        defaultValue: 'Сколько комнат',
        label: 'dropdown',
        description: 'default',
        zIndex: 4,
        narrow: true,
        items: [
          {
            name: 'bedroom',
            units: 'спальни спальня спальни спален'
          },
          {
            name: 'bed',
            units: 'кровати кровать кровати кроватей'
          },
          {
            name: 'bath',
            units: 'ванные комнаты ванная ванных ванных'
          },
        ]
      })
      +dropdown({
        name: 'room1',
        defaultValue: 'Сколько комнат',
        label: 'dropdown',
        description: 'expanded',
        zIndex: 3,
        narrow: true,
        items: [
          {
            name: 'bedroom',
            units: 'спальни спальня спальни спален'
          },
          {
            name: 'bed',
            units: 'кровати кровать кровати кроватей'
          },
          {
            name: 'bath',
            units: 'ванные комнаты ванная ванных ванных'
          },
        ]
      })
      +checkbox({label: 'expandable checkbox list', name: 'check1', expand: 'expand' })
        +checkbox__button({name: '1', text: 'Завтрак'})
        +checkbox__button({name: '2', text: 'Письменный стол', checked: true })
        +checkbox__button({name: '3', text: 'Стул для кормления', checked: true })
        +checkbox__button({name: '4', text: 'Кроватка', checked: true })
        +checkbox__button({name: '5', text: 'Телевизор'})
        +checkbox__button({name: '6', text: 'Шампунь'})
      +checkbox({label: 'expandable checkbox list', name: 'check3', expand: 'expand'})
        +checkbox__button({name: '1', text: 'Завтрак'})
        +checkbox__button({name: '2', text: 'Письменный стол', checked: true})
        +checkbox__button({name: '3', text: 'Стул для кормления', checked: true})
        +checkbox__button({name: '4', text: 'Кроватка', checked: true})
        +checkbox__button({name: '5', text: 'Телевизор'})
        +checkbox__button({name: '6', text: 'Шампунь'})
      +list-icon
        +list-icon__item({ icon: 'insert_emoticon', header: 'Комфорт', text: 'Шумопоглощающие стены' })
        +list-icon__item({ icon: 'location_city', header: 'Удобство', text: 'Окно в каждой из спален' })
    +form-elements__item
      +dropdown({
        name: 'guest2',
        defaultValue: 'Сколько гостей',
        label: 'dropdown',
        zIndex: 1,
        guest: true,
        confirm: true,
        items: [
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей'
          },
          {
            name: 'child',
            units: 'дети'
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев'
          },
        ]
      })
      +checkbox({label: 'rich checkbox buttons', name: 'check4', wide: 'wide'})
        +checkbox__button({
          name: '1',
          text: `Ширина коридоров в номере не менее 91 см.`,
          header: 'Широкий коридор'
        })
        +checkbox__button({
          name: '2',
          text: `На 1 этаже вас встретит специалист и проводит до номера`,
          header: 'Помощник для инвалидов'
        })
      +review({
        likes: 11,
        name: 'Мурад Сарафанов',
        time: '5 дней назад',
        text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
      })
    +form-elements__item
      +dropdown({
        name: 'guest3',
        defaultValue: 'Сколько гостей',
        label: 'dropdown',
        zIndex: 1,
        guest: true,
        clear: true,
        confirm: true,
        items: [
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей',
          },
          {
            name: 'child',
            units: 'дети ребёнок ребёнка детей',
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев',
          },
        ]
      })
      +list({ label: 'bullet list', marker: 'bullet'})
        +list__item Нельзя с питомцами
        +list__item Без вечеринок и мероприятий
        +list__item Время прибытия — после 13:00, а выезд до 12:00
