include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/form-elements/form-elements
include ../blocks/form-elements/__item/form-elements__item
include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/button/button
include ../blocks/datepicker/datepicker
include ../blocks/subscription/subscription
include ../blocks/checkbox/checkbox
include ../blocks/radio/radio
include ../blocks/demo-block/demo-block
include ../blocks/toggle/toggle
include ../blocks/like/like
include ../blocks/rate/rate
include ../blocks/slider-toxin/slider-toxin
include ../blocks/paginator/paginator
include ../blocks/list/list
include ../blocks/list-icon/list-icon
include ../blocks/list-icon/__item/list-icon__item
include ../blocks/header/header
include ../blocks/hamburger/hamburger
include ../blocks/hamburger/__item/hamburger__item
include ../blocks/header/__item/header__item
include ../blocks/page/page
include ../blocks/logo/logo
include ../blocks/menu/menu
include ../blocks/menu/__item/menu__item
include ../blocks/header/__user/header__user
include ../blocks/review/review
include ../blocks/list/__item/list__item
+ui-kit({ title: 'Form elements', theme: 'white' })
  +ui-kit__header
  +form-elements
    +form-elements__item
      +text-field({
        name: 'simple-field',
        placeholder: 'Email',
        label: 'text field',
        description: 'default',
      })
      +text-field({
        name: 'hover-field',
        placeholder: 'This is pretty awesome',
        label: 'text field',
        description: 'hover / focus',
      })
      +dropdown({
        name: 'guest',
        defaultValue: 'Сколько гостей',
        label: 'dropdown',
        zIndex: 7,
        guest: true,
        clear: true,
        items:[
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей',
          },
          {
            name: 'child',
            units: 'дети ребёнок ребёнка детей',
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев',
          },
          {
            name: 'hobo',
            units: 'бомжы бомж бомжа бомжей',
          },
          {
            name: 'live',
            units: 'жильцы жилец жильца жильцов',
          },
        ]
      })
      +text-field({
        name: 'birth',
        label: 'masked text field',
        type: 'date',
      })
      +datepicker({
        name: 'date-regular',
        labelArrival: 'date dropdown',
        labelDeparture: 'date dropdown',
        label: 'даты пребывания в отеле',
        zIndex: 6,
      })
      +datepicker({
        name: 'date-filter',
        label: 'filter date dropdown',
        zIndex: 5,
        modifier: 'filter',
      })
      +subscription({label: 'subscription text field'})
    +form-elements__item
      +checkbox({
        items: [
          {
            name: 'smoke',
            text: 'Можно курить',
          },
          {
            name: 'pet',
            text: 'Можно с питомцами',
            checked: true,
          },
          {
            name: 'party',
            text: 'Можно пригласить гостей (до 10 человек)',
            checked: true,
          },
        ],
      })
      +radio({
        name: 'sex',
        items: [
          {
            value: 'male',
            text: 'Мужчина',
            checked: true,
          },
          {
            value: 'female',
            text: 'Женщина',
          },
          {
            value: 'it',
            text: 'Трансгендер',
          },
        ],
      })
      +demo-block({ type: 'toggle', label: 'toggle'})
        +toggle({
          name: 'toggle1',
          value: 'spam',
          text: 'Получать спецпредложения',
          checked: true,
        })
        +toggle({
          name: 'toggle2',
          value: 'spam',
          text: 'Получать спецпредложения'
        })
      +demo-block({ type: 'like', label: 'like button' })
        +like(2)
        +like(11)
      +demo-block({ type: 'rate', label: 'rate button' })
        +rate(4)
        +rate(5)
    +form-elements__item
      +slider-toxin({
        label: 'Range slider',
        description: '',
        start: 1000,
        end: 15000,
        step: 1000,
        from: 5000,
        to: 10000,
        name: 'price-range',
      })
      +demo-block({ type: 'buttons', label: 'buttons' })
        +button({
          width: 'regular',
          purple: true,
          text: 'click me',
          disabled: false
        })
        +button({
          width: 'regular',
          purple: true,
          text: 'click me',
        })
        +button({
          width: 'regular',
          bordered: true,
          text: 'click me',
          disabled: false
        })
        +button({
          width: 'regular',
          bordered: true,
          text: 'click me',
        })
        +button({ text: 'click me', disabled: false })
        +button({ text: 'click me' })
        +button({
          width: 'ultra-wide',
          purple: true,
          arrowed: true,
          text: 'перейти к оплате',
          disabled: false
        })
      +paginator({ length: 15, label: 'pagination', demo: 'demo' })
    +form-elements__item
      +dropdown({
        name: 'room',
        defaultValue: 'Сколько комнат',
        label: 'dropdown',
        description: 'default',
        zIndex: 4,
        narrow: true,
        items: [
          {
            name: 'bedroom',
            units: 'спальни спальня спальни спален'
          },
          {
            name: 'bed',
            units: 'кровати кровать кровати кроватей'
          },
          {
            name: 'bath',
            units: 'ванные комнаты ванная ванных ванных'
          },
        ]
      })
      +dropdown({
        name: 'room1',
        defaultValue: 'Сколько комнат',
        label: 'dropdown',
        description: 'expanded',
        zIndex: 3,
        narrow: true,
        items: [
          {
            name: 'bedroom',
            units: 'спальни спальня спальни спален'
          },
          {
            name: 'bed',
            units: 'кровати кровать кровати кроватей'
          },
          {
            name: 'bath',
            units: 'ванные комнаты ванная ванных ванных'
          },
        ]
      })
      +checkbox({
        id: 'expand-1',
        expand: 'expandable checkbox list',
        items: [
          {
            name: 'breakfast',
            text: 'Завтрак',
          },
          {
            text: 'Письменный стол',
            name: 'table',
            checked: true,
          },
          {
            text: 'Стул для кормления',
            name: 'chair',
            checked: true,
          },
          {
            text: 'Кроватка',
            name: 'bed',
            checked: true,
          },
          {
            text: 'Телевизор',
            name: 'tv',
          },
          {
            text: 'Шампунь',
            name: 'shampoo',
          },
        ],
      })
      +checkbox({
        id: 'expand-2',
        expand: 'expandable checkbox list',
        items: [
          {
            text: 'Завтрак',
            name: 'breakfast',
          },
          {
            text: 'Письменный стол',
            name: 'table',
            checked: true,
          },
          {
            text: 'Стул для кормления',
            name: 'chair',
            checked: true,
          },
          {
            text: 'Кроватка',
            name: 'bed',
            checked: true,
          },
          {
            text: 'Телевизор',
            name: 'tv',
          },
          {
            text: 'Шампунь',
            name: 'shampoo',
          },
        ],
      })
      +list-icon
        +list-icon__item({ icon: 'insert_emoticon', header: 'Комфорт', text: 'Шумопоглощающие стены' })
        +list-icon__item({ icon: 'location_city', header: 'Удобство', text: 'Окно в каждой из спален' })
    +form-elements__item
      +dropdown({
        name: 'guest2',
        defaultValue: 'Сколько гостей',
        label: 'dropdown',
        zIndex: 1,
        guest: true,
        confirm: true,
        items: [
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей'
          },
          {
            name: 'child',
            units: 'дети'
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев'
          },
        ]
      })
      +checkbox({
        items: [
          {
            name: 'wide',
            text: 'Широкий коридор',
            explanation: 'Ширина коридоров в номере не менее 91 см.',
          },
          {
            name: 'help',
            text: 'Помощник для инвалидов',
            explanation: 'На 1 этаже вас встретит специалист и проводит до номера',
          },
        ],
      })
      +review({
        likes: 11,
        name: 'Мурад Сарафанов',
        time: '5 дней назад',
        text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
      })
    +form-elements__item
      +dropdown({
        name: 'guest3',
        defaultValue: 'Сколько гостей',
        label: 'dropdown',
        zIndex: 1,
        guest: true,
        clear: true,
        confirm: true,
        items: [
          {
            name: 'adult',
            units: 'взрослые гость гостя гостей',
          },
          {
            name: 'child',
            units: 'дети ребёнок ребёнка детей',
          },
          {
            name: 'baby',
            units: 'младенцы младенец младенца младенцев',
          },
        ]
      })
      +list({ label: 'bullet list', marker: 'bullet'})
        +list__item Нельзя с питомцами
        +list__item Без вечеринок и мероприятий
        +list__item Время прибытия — после 13:00, а выезд до 12:00
