include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/colors-and-type/colors-and-type
include ../blocks/colors-and-type/__item/colors-and-type__item
include ../blocks/list-colors/list-colors
include ../blocks/list-colors/__item/list-colors__item
include ../blocks/list-type/list-type
include ../blocks/list-type/__item/list-type__item
include ../blocks/form-elements/form-elements
include ../blocks/form-elements/__item/form-elements__item
include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/dropdown/__button-container/dropdown__button-container
include ../blocks/dropdown/__button/dropdown__button
include ../blocks/dropdown/__item/dropdown__item
include ../blocks/datepicker/datepicker
+ui-kit({ title: 'Form elements', theme: 'white' })
  +ui-kit__header
  +form-elements
    +form-elements__item
      +text-field({ name: 'simple-field', placeholder: 'Email', label: 'text field', description: 'дефолт'})
      +text-field({ name: 'hover-field', placeholder: 'This is pretty awesome', label: 'text field', description: 'hover / focus'})
      +dropdown({ name: 'guest', defaultValue: 'Сколько гостей', label: 'dropdown', zIndex: 5, guests: 'guests' })
        +dropdown__button-container
          +dropdown__button({action: 'clear', text: 'очистить'})
        +dropdown__item({name: 'baby', units: 'младенцы младенец младенца младенцев'})
        +dropdown__item({name: 'child', units: 'дети'})
        +dropdown__item({name: 'adult', units: 'взрослые гость гостя гостей'})
      +datepicker({ name: 'NewYear', labelArrival: 'date dropdown', labelDeparture: 'date dropdown', zIndex: 4 })



