include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/colors-and-type/colors-and-type
include ../blocks/colors-and-type/__item/colors-and-type__item
include ../blocks/list-colors/list-colors
include ../blocks/list-colors/__item/list-colors__item
include ../blocks/list-type/list-type
include ../blocks/list-type/__item/list-type__item
include ../blocks/form-elements/form-elements
include ../blocks/form-elements/__item/form-elements__item
include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/dropdown/__button-container/dropdown__button-container
include ../blocks/dropdown/__button/dropdown__button
include ../blocks/dropdown/__item/dropdown__item
+ui-kit({ title: 'Form elements', theme: 'white' })
  +ui-kit__header
  +form-elements
    +form-elements__item
      +text-field({ name: 'simple-field', placeholder: 'Email', label: 'text field', description: 'дефолт'})
      +text-field({ name: 'hover-field', placeholder: 'This is pretty awesome', label: 'text field', description: 'hover / focus'})
      +dropdown({ name: 'room', defaultValue: 'Сколько комнат', label: 'dropdown', description: 'помещение', zIndex: 3 })
        +dropdown__button-container
          +dropdown__button({action: 'clear', text: 'очистить'})
          +dropdown__button({action: 'confirm', text: 'применить'})
        +dropdown__item({ name: 'room', units: 'комнаты комната комнаты комнат' })
        +dropdown__item({ name: 'bedroom', units: 'спальни спальня спальни спален' })
        +dropdown__item({ name: 'bath', units: 'ванные ванная ванных ванных' })
        +dropdown__item({ name: 'corridor', units: 'коридоры коридорчики коридорища' })
      +dropdown({ name: 'guest', guests: 'guests', defaultValue: 'Сколько гостей', label: 'дропдаун', description: 'гости', zIndex: 2, narrow: 'narrow' })
        +dropdown__button-container
          +dropdown__button({action: 'clear', text: 'очистить'})
        +dropdown__item({ name: 'baby', units: 'младенцы младенец младенца младенцев' })
        +dropdown__item({ name: 'child', units: 'дети' })
        +dropdown__item({ name: 'adult', units: 'взрослые гость гостя гостей' })
      +dropdown({ narrow: 'narrow', name: 'toilet', defaultValue: 'Удобства номера', label: 'аккордеон', description: 'дискрыпшн', zIndex: 1 })
        +dropdown__button-container
          +dropdown__button({ action: 'clear', text: 'пусто' })
          +dropdown__button({ action: 'confirm', text: 'вот так' })
        +dropdown__item({ name: 'closet1', units: 'толчки толчок толчка толчков' })
        +dropdown__item({ name: 'closet2', units: 'сортиры сортир сортира сортиров' })
        +dropdown__item({ name: 'closet3', units: 'сральники сральник сральника сральников' })
        +dropdown__item({ name: 'closet4', units: 'туалеты туалет туалета туалетов' })
        +dropdown__item({ name: 'closet5', units: 'дристальни дристальня дристальни дристален' })
        +dropdown__item({ name: 'bedroom', units: 'спальни спальня спальни спален' })
        +dropdown__item({ name: 'bath', units: 'ванные ванная ванных ванных' })
        +dropdown__item({ name: 'room', units: 'комнаты комната комнаты комнат' })


