include ../blocks/ui-kit/ui-kit
include ../blocks/ui-kit/__header/ui-kit__header
include ../blocks/header-demo/header-demo
include ../blocks/header/header
include ../blocks/hamburger/hamburger
include ../blocks/checkbox/checkbox
include ../blocks/button/button
include ../blocks/header/__item/header__item
include ../blocks/logo/logo
include ../blocks/menu/menu
+ui-kit({ title: 'Headers & Footers', theme: 'gray' })
  +ui-kit__header
  +header-demo
    +header



