include ../blocks/page/page
include ../blocks/details/details
include ../blocks/details/__gallery/details__gallery
+page({title: 'index'})
  a.index-href(href='dist/Landing page.html') Landing page
  a.index-href(href='dist/Search room.html') Search room
  a.index-href(href='dist/Room details.html') Room details
  a.index-href(href='dist/Registration.html') Registration
  a.index-href(href='dist/Sign in.html') Sign in

  a.index-href(href='dist/Colors & Type.html') Colors & Type
  a.index-href(href='dist/Form Elements.html') Form Elements
  a.index-href(href='dist/Cards.html') Cards
  a.index-href(href='dist/Headers & Footers.html') Headers & Footers

