include ../blocks/page/page
include ../blocks/header/header
include ../blocks/burger/burger
include ../blocks/hyper/hyper
include ../blocks/toggle/toggle
include ../blocks/checkbox/checkbox
include ../blocks/headers-footers/headers-footers
include ../blocks/cards/cards
include ../blocks/form-elements/form-elements
include ../blocks/logo/logo
include ../blocks/button/button
include ../blocks/sign-in/sign-in
include ../blocks/landing/landing
include ../blocks/card-search/card-search
include ../blocks/datepicker/datepicker
include ../blocks/dropdown/dropdown
include ../blocks/footer/footer
include ../blocks/subscription/subscription
+page({title: 'Landing page'})
  +header
  +landing
  +footer
