include ../blocks/page/page
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/burger/burger
include ../blocks/hyper/hyper
include ../blocks/button/button
include ../blocks/landing/landing
include ../blocks/card-search/card-search
include ../blocks/datepicker/datepicker
include ../blocks/dropdown/dropdown
include ../blocks/footer/footer
include ../blocks/subscription/subscription
+page({title: 'Landing page'})
  +header
  +landing
  +footer
