include ../blocks/page/page
include ../blocks/header/header
include ../blocks/burger/burger
include ../blocks/hyper/hyper
include ../blocks/logo/logo
include ../blocks/button/button
include ../blocks/sign-registry/sign-registry
include ../blocks/card-registration/card-registration
include ../blocks/text-field/text-field
include ../blocks/radio/radio
include ../blocks/toggle/toggle
include ../blocks/footer/footer
include ../blocks/subscription/subscription
+page({title: 'Registration'})
  +header
  +sign-registry({ registry: true })
    +card-registration
  +footer
