@use 'fonts/fonts';
@use 'blocks/page/page';
@use 'blocks/header/header';
@use 'blocks/burger/burger';
@use 'blocks/hyper/hyper';
@use 'blocks/logo/logo';
@use 'blocks/button/button';
@use 'blocks/details/details';
@use 'blocks/advantage/advantage';
@use 'blocks/chart/chart';
@use 'blocks/card-details/card-details';
@use 'blocks/datepicker/datepicker';
@use 'blocks/dropdown/dropdown';
@use 'blocks/review/review';
@use 'blocks/like/like';
@use 'blocks/bullet-list/bullet-list';
@use 'blocks/footer/footer';
@use 'blocks/subscription/subscription';
