include ../blocks/page/page
include ../blocks/header/header
include ../blocks/burger/burger
include ../blocks/hyper/hyper
include ../blocks/toggle/toggle
include ../blocks/checkbox/checkbox
include ../blocks/headers-footers/headers-footers
include ../blocks/cards/cards
include ../blocks/form-elements/form-elements
include ../blocks/logo/logo
include ../blocks/button/button
include ../blocks/sign-in/sign-in
include ../blocks/search/search
include ../blocks/datepicker/datepicker
include ../blocks/dropdown/dropdown
include ../blocks/slider-toxin/slider-toxin
include ../blocks/paginator/paginator
include ../blocks/card-room/card-room
include ../blocks/rate/rate
include ../blocks/footer/footer
include ../blocks/subscription/subscription
+page({title: 'Search room'})
  +header
  +search
    +card-room({ number: '888', lux: 'люкс', price: 9990, rate: 5, reviews: 145 })
    +card-room({number: '840', price: 9900, rate: 4, reviews: 65})
    +card-room({number: '980', lux: 'люкс', price: 8500, rate: 3, reviews: 35})
    +card-room({number: '856', price: 7300, rate: 5, reviews: 19})
    +card-room({number: '740', price: 6000, rate: 4, reviews: 44})
    +card-room({number: '982', price: 5800, rate: 3, reviews: 56})
    +card-room({number: '678', price: 5500, rate: 5, reviews: 45})
    +card-room({number: '450', price: 5300, rate: 4, reviews: 39})
    +card-room({number: '350', price: 5000, rate: 3, reviews: 77})
    +card-room({number: '666', price: 5000, rate: 5, reviews: 25})
    +card-room({number: '444', price: 5000, rate: 3, reviews: 15})
    +card-room({number: '352', price: 5000, rate: 3, reviews: 55})
  +footer
