include ../blocks/page/page
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/burger/burger
include ../blocks/hyper/hyper
include ../blocks/button/button
include ../blocks/search/search
include ../blocks/datepicker/datepicker
include ../blocks/dropdown/dropdown
include ../blocks/slider-toxin/slider-toxin
include ../blocks/checkbox/checkbox
include ../blocks/card-room/card-room
include ../blocks/rate/rate
include ../blocks/paginator/paginator
include ../blocks/footer/footer
include ../blocks/subscription/subscription
+page({title: 'Search room'})
  +header
  +search
  +footer
