include ../blocks/page/page
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/burger/burger
include ../blocks/hyper/hyper
include ../blocks/button/button
include ../blocks/sign-registry/sign-registry
include ../blocks/card-sign/card-sign
include ../blocks/text-field/text-field
include ../blocks/footer/footer
include ../blocks/subscription/subscription
+page({title: 'Sign in'})
  +header
  +sign-registry
    +card-sign
  +footer
