include ../blocks/page/page
include ../blocks/header/header
include ../blocks/hamburger/hamburger
include ../blocks/checkbox/checkbox
include ../blocks/button/button
include ../blocks/hamburger/__item/hamburger__item
include ../blocks/header/__item/header__item
include ../blocks/logo/logo
include ../blocks/menu/menu
include ../blocks/menu/__item/menu__item
include ../blocks/header/__user/header__user
include ../blocks/sign-in/sign-in
include ../blocks/card-sign/card-sign
include ../blocks/text-field/text-field
include ../blocks/footer/footer
include ../blocks/subscription/subscription
include ../blocks/footer/__social/footer__social
+page({title: 'Sign in'})
  +header
  +sign-in
    +card-sign
  +footer
