.checkbox {
  $root: &;

  display: flex;
  flex-direction: column;
  width: 266px;

  &__expand-label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #1f2041;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    width: inherit;
    margin-bottom: 17px;

    &::after {
      content: 'expand_less';
      width: 44px;
      height: 15px;
      font-family: material-icons, Arial, sans-serif;
      font-size: 24px;
      line-height: 15px;
      color: rgb(31 32 65 / 50%);
      font-style: normal;
      text-transform: none;
      text-align: center;
    }

    &_close {
      &::after {
        content: 'expand_more';
      }

      ~ #{$root}__label {
        display: none;
      }
    }

    &:focus {
      text-shadow: 0 0 15px #bc9cff;
      outline: 0;
    }

    &::selection {
      background: transparent;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
    width: fit-content;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    display: inline-flex;
    font-size: 14px;
    line-height: 18px;
    color: rgb(31 32 65 / 50%);
    position: relative;

    &_weight_bold {
      font-weight: bold;
      color: rgb(31 32 65 / 75%);
    }

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background: white;
      border: 1px solid rgb(31 32 65 / 25%);
      border-radius: 4px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    &::after {
      position: absolute;
      display: none;
      content: '';
      width: 6px;
      height: 8px;
      border-image-source: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-image-slice: 1;
      border-right: solid 2.5px;
      border-bottom: solid 2.5px;
      left: 7px;
      top: 5px;
      box-sizing: border-box;
      transform: rotate(45deg);
    }

    &::selection {
      background: transparent;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:focus {
      + #{$root}__text {
        &::before {
          box-shadow: 0 0 15px rgb(31 32 65 / 50%);
        }
      }
    }

    &:checked {
      + #{$root}__text {
        &::before {
          border: 1px solid #bc9cff;
        }

        &::after {
          display: block;
        }
      }

      &:focus {
        + #{$root}__text {
          &::before {
            box-shadow: 0 0 15px #bc9cff;
          }
        }
      }
    }
  }

  &__explanation {
    padding: 5px 0 0 30px;
    font-size: 12px;
    line-height: 14px;
    color: rgb(31 32 65 / 50%);

    &::selection {
      background: transparent;
    }
  }
}
