mixin toggle({ name = 'undefined-name', text = '', checked = false, value = '' } = {})
  .toggle
    input.toggle__button(type='checkbox' name= name id= name value= value checked= checked )
    label.toggle__label(for= name)= text


