.dropdown {
  width: 320px;
  outline: 0;
  position: relative;

  &_width_narrow {
    width: 266px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      flex-direction: row-reverse;
      min-height: 7px;
    }
  }

  &__header {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    cursor: default;

    &:nth-child(2) {
      font-weight: normal;
      color: rgb(31 32 65 / 50%);
    }

    &::selection {
      background: transparent;
    }
  }

  &__drop {
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    color: rgb(31 32 65 / 75%);
    line-height: 42px;
    padding-left: 14px;
    padding-right: 44px;
    border: 1px solid rgb(31 32 65 / 25%);
    border-radius: 4px;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;

    &::after {
      content: "expand_more";
      font-family: material-icons, Arial, sans-serif;
      font-size: 24px;
      line-height: 42px;
      color: rgb(31 32 65 / 50%);
      width: 44px;
      text-align: center;
      position: absolute;
      right: 0;
    }

    &::selection {
      background: transparent;
    }
  }

  &_open &__drop {
    border-color: rgb(31 32 65 / 50%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
      content: "expand_less";
    }
  }

  &__down {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(31 32 65 / 50%);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 10px 20px 0 rgb(31 32 65 / 5%);
    background: white;
    position: absolute;
    display: none;
  }

  &_open &__down {
    display: block;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 7px;
    margin-top: 6px;

    &:not(:first-child) {
      margin-top: 7px;
    }
  }

  &__units {
    flex-grow: 1;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;

    &::selection {
      background: transparent;
    }
  }

  &__counter-button {
    width: 30px;
    height: 30px;
    padding: 0;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid rgb(31 32 65 / 50%);
    outline: 0;
    background-color: transparent;
    font-family: montserrat, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: rgb(31 32 65 / 50%);
    text-align: center;
    cursor: pointer;

    &::selection {
      background: transparent;
    }

    &:active {
      transform: scale(0.85);
    }

    &:disabled {
      border: 1px solid rgb(31 32 65 / 25%);
      pointer-events: none;
      cursor: default;
    }
  }

  &__quantity {
    text-align: center;
    border: 0;
    outline: 0;
    width: 28px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #1f2041;
    font-family: montserrat, Arial, sans-serif;
    font-weight: bold;
    background: transparent;
    cursor: default;
    flex-shrink: 0;
    caret-color: transparent;
    appearance: textfield; // скрыть родные кнопочки + и - в Firefox

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button { // скрыть родные кнопочки + и - в Chrome, Safari, Edge, Opera
      appearance: none;
      margin: 0;
    }

    &::placeholder {
      color: #1f2041;
      opacity: 1;
    }

    &::selection {
      background: transparent;
    }

    &:focus {
      text-shadow: 0 0 10px rgb(31 32 65);
    }
  }

  &__button {
    background-color: transparent;
    padding: 20px 7px 12px 13px;
    border: 0;
    outline: 0;
    font-family: montserrat, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: #bc9cff;
    cursor: pointer;

    &::selection {
      background: transparent;
    }

    &:active {
      transform: scale(0.85);
    }

    &:disabled {
      color: rgb(31 32 65 / 50%);
      pointer-events: none;
      cursor: default;
    }
  }
}

@media all and (max-width: 400px) {
  .dropdown {
    width: 266px;
  }
}
