$duration-open: 0.4s;
$width: 320px;

.dropdown {
  outline: 0;

  width: $width;

  .dropdown-label {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;

    margin: 0 0 5px 0;
  }

  .dropdown-header {

    display: flex;
    justify-content: space-between;

    .dropdown-label:nth-child(2) {
      font-weight: normal;
      color: rgba(31, 32, 65, 0.5);
    }
  }

  .dropdown-drop {

    width: $width - 2px;
    height: 42px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;

    position: relative;
    z-index: 2;

    transition-property: z-index, border;
    transition-duration: $duration-open, $duration-open;
    transition-delay: 0s, 0s;

    background: white;

    .dropdown-common-value {
      display: flex;
      justify-content: space-between;

      font-size: 14px;
      line-height: 42px;
      color: rgba(31, 32, 65, 0.75);

      padding: 0 0 0 15px;

      cursor: pointer;

    }

    .dropdown-common-value::selection {
      background: transparent;
    }

    .dropdown-common-value::after {
      content: 'expand_more';

      font-family: materialicons, Arial, sans-serif;
      font-size: 24px;
      line-height: 42px;
      color: rgba(31, 32, 65, 0.5);

      width: 44px;
      text-align: center;
    }

  }

  .dropdown-down {

    background: white;

    position: absolute;
    z-index: 1;

    width: $width - 2px;
    height: 41px;
    transition-property: height, z-index;
    transition-duration: $duration-open, $duration-open;
    transition-delay: 0s, 0s;

    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;

    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;

    .dropdown-item {

      height: 30px;
      padding: 0 7px 0 15px;
      margin: 7px 0 0 0;

      flex-shrink: 0;

      display: flex;
      align-items: center;

      .dropdown-label {
        flex-grow: 1;
        margin: 0;
      }

      .dropdown-minus,.dropdown-plus {
        width: 28px;
        height: 28px;
        padding: 0;

        border-radius: 22px;
        border: 1px solid rgba(31, 32, 65, 0.5);

        background-color: transparent;

        font-family: montserrat, Arial, sans-serif;
        font-size: 18px;
        line-height: 28px;
        color: rgba(31, 32, 65, 0.5);

        text-align: center;

        cursor: pointer;
      }

      .dropdown-minus::selection,.dropdown-plus::selection {
        background: transparent;
      }

      .dropdown-minus:disabled,.dropdown-plus:disabled {
        border: 1px solid rgba(31, 32, 65, 0.25);

        cursor: default;
      }

      .dropdown-minus:active,.dropdown-plus:active {
        border: 2px solid rgba(31, 32, 65, 0.5);
      }

      .dropdown-input {
        text-align: center;

        border: 0;
        outline: 0;
        width: 32px;
        height: 30px;

        font-size: 12px;
        line-height: 30px;
        color: #1f2041;
        font-family: montserrat, Arial, sans-serif;
        font-weight: bold;

        background: transparent;

        cursor: default;
      }
      
      .dropdown-input::selection {
        background: transparent;
      }

    }

    /*
    .dropdown-item:first-of-type {
      margin: 7px 0 8px 0;
    }
    */

    .dropdown-buttons {

      display: flex;
      justify-content: space-between;

      flex-shrink: 0;

      overflow: hidden;

      height: 8px;

      .dropdown-reset,.dropdown-confirm {
        visibility: hidden;

        background-color: transparent;

        padding: 20px 7px 0 15px;
        border: 0;
        height: 28px;

        outline: 0;

        font-family: montserrat, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        color: #bc9cff;

        cursor: pointer;
      }

      .dropdown-reset:active,.dropdown-confirm:active {
        text-shadow: 1px 1px;
        //transform: translate(1px, 1px);
      }

      .dropdown-reset:disabled,.dropdown-confirm:disabled {
        cursor: default;
      }

    }
  }
}

.dropdown.dropdown-open {

  .dropdown-down {
    height: 163px;
    transition: height $duration-open;

    z-index: 7;
  }

  .dropdown-drop {
    border: 1px solid rgba(31, 32, 65, 0.5);
    transition: border $duration-open;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    z-index: 8;

    .dropdown-common-value::after {
      content: 'expand_less';
    }
  }
}