mixin dropdown({ narrow = null, guests = null, name = 'undefined-name', defaultValue = '', label = '', description = '', zIndex = 1 } = { narrow: null, guests: null, name: 'undefined-name', defaultValue: '', label: '', description: '', zIndex: 1 })
  -
    let modifiers = '';
    if (narrow === 'narrow') {
      modifiers += ' dropdown_narrow';
    }
    if (guests === 'guests') {
      modifiers += ' js-dropdown_guests';
    }

  .dropdown.js-dropdown(data-dropdown-name= name data-z-index= zIndex data-default-value= defaultValue class= modifiers tabindex=0)
    .dropdown__header
      if (label)
        .dropdown__label= label
      if (description)
        .dropdown__label= description
    .dropdown__down.js-dropdown__down
      block
    .dropdown__drop.js-dropdown__drop
      .dropdown__value.js-dropdown__value= defaultValue
