mixin dropdown(name, modifiers, label, description)
  .dropdown(class= modifiers)
    .dropdown-header
      - if (label)
        .dropdown-label= label
      - if (description)
        .dropdown-label= description
    .dropdown-down
      +dropdown-item(name + '-item0')
      +dropdown-item(name + '-item1')
      +dropdown-item(name + '-item2')
    .dropdown-drop
      label.dropdown-common-value Сколько гостей
      //.dropdown-arrow

mixin dropdown-item(name)
  .dropdown-item
    .dropdown-label
    .dropdown-minus -
    input(type='text' class='dropdown-input' readonly name= name value='0')
    .dropdown-plus +