.button__input.button__input_fill-wide {
  width: 196px;
  height: 34px;

  line-height: 34px;

  box-sizing: border-box;

  border-radius: 22px;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  color: white;

}

.button__input.button__input_fill-wide:disabled {
  color: white;
  opacity: 0.5;
}
