mixin sign-registry(options={})
  -
    const {
      registry = false,
    } = options;

  if (registry)
    main.sign-registry.sign-registry_shifted
      block
  else
    main.sign-registry
      block
