.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  background: white;

  width: 100%;

  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);

  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);

  flex-grow: 0;
  flex-shrink: 0;

  &_width_narrow {
    background: #e5e5e5;
  }

  &__body {
    width: 80.56%;
    max-width: 1160px;
    min-height: 272px;

    padding-top: 100px;

    display: grid;
    grid-template-rows: 36px 39px repeat(auto-fit, minmax(38px, min-content));
    grid-template-columns: 25.86% 17.24% 17.24% auto 260px;
    grid-template-areas:
    'logo       nav-header  about-header   help-header  subscription-header'
    'paragraph  about       about-service  agreements   subscription'
    'paragraph  news        team           communities  subscription'
    'paragraph  help        vacancy        contacts     subscription'
    'paragraph  service     investors      .            subscription';
  }

  &_width_narrow &__body {
    display: none;
  }

  &__item {
    &_area_logo {
      grid-area: logo;
    }

    &_area_paragraph {
      padding-top: 7px;

      grid-area: paragraph;
      max-width: 260px;
    }

    &_area_nav-header {
      grid-area: nav-header;
    }

    &_area_about {
      grid-area: about;
    }

    &_area_news {
      grid-area: news;
    }

    &_area_help {
      grid-area: help;
    }

    &_area_service {
      grid-area: service;
    }

    &_area_about-header {
      grid-area: about-header;
    }

    &_area_about-service {
      grid-area: about-service;
    }

    &_area_team {
      grid-area: team;
    }

    &_area_vacancy {
      grid-area: vacancy;
    }

    &_area_investors {
      grid-area: investors;
    }

    &_area_help-header {
      grid-area: help-header;
    }

    &_area_agreements {
      grid-area: agreements;
    }

    &_area_communities {
      grid-area: communities;
    }

    &_area_contacts {
      grid-area: contacts;
    }

    &_area_subscription-header {
      grid-area: subscription-header;
    }

    &_area_subscription {
      grid-area: subscription;
    }

    &_weight_bold {
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      font-weight: bold;

      color: #1F2041;

      padding-top: 4px;
    }
  }

  &__subscription-paragraph {
    margin-top: 1px;
    margin-bottom: 22px;
  }

  &__border {
    width: 100%;
    height: 0;
    border-top: 1px solid #E5E5E5;
  }

  &_width_narrow &__border {
    display: none;
  }

  &__footer {
    max-width: 1160px;
    width: 80.56%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 70px;
  }

  &_width_narrow &__footer {
    display: none;
  }

  &__social {
    display: flex;
  }

  &__twitter,&__facebook,&__instagram {
    width: 24px;
    height: 24px;

    font-family: toxin, Arial, sans-serif;

    text-decoration: none;

    outline: 0;

    display: flex;
    justify-content: center;

    font-size: 22px;

    &:link,&:visited {
      color: #BC9CFF;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:focus {
      filter: drop-shadow(0 0 5px rgba(188, 156, 255, 1));
    }
  }

  &__twitter {
    margin: 0 20px 0 0;

    &:after {
      content: '\e901';
    }
  }

  &__facebook {
    margin: 0 20px 0 0;

    &:after {
      content: '\e902';
    }
  }

  &__instagram {
    margin: 0;

    &:after {
      content: '\e903';
    }
  }

  &__mini {
    display: none;

    width: 100%;
    min-height: 367px;
    padding: 120px 0 0 0;

    flex-direction: column;
    align-items: center;

    background: white;

    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

    box-sizing: border-box;
  }

  &_width_narrow &__mini {
      display: flex;

      max-width: 768px;
  }

  &__mini-text {
    padding: 17px 10% 20px;
    text-align: center;
  }
}

@media all and (max-width: 1366px) {
  .footer {
    &__body,&__border,&__footer {
      display: none;
    }

    &__mini {
      display: flex;
    }
  }
}
