.footer {
  display: flex;

  align-items: center;

  flex-direction: column;

  background: white;

  width: 100%;
  height: fit-content;

  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);

  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);

  flex-grow: 0;
  flex-shrink: 0;
}

.footer_width_narrow {
  background: #e5e5e5;
}

.footer__body {
  max-width: 1160px;
  width: 80.56%;
  height: 272px;

  padding-top: 100px;

  display: grid;
  grid-template-rows: 36px 39px 38px 38px auto;
  grid-template-columns: 22.41% 20.69% 108px auto 260px;
  grid-template-areas:
    'logo nav-header about-header help-header subscription-header'
    'paragraph about about-service agreements subscription'
    'paragraph news team communities subscription'
    'paragraph help vacancy contacts subscription'
    'empty service investors nothing nothing';

}

@media all and (max-width: 1366px) {
  .footer__body {
    display: none;
  }
}

.footer_width_narrow {
  .footer__body {
    display: none;
  }
}

.footer__logo {
  grid-area: logo;
}

.footer__paragraph {
  padding-top: 7px;

  grid-area: paragraph;
}

.footer__nav-header {
  grid-area: nav-header;
}

.footer__about {
  grid-area: about;
}

.footer__news {
  grid-area: news;
}

.footer__help {
  grid-area: help;
}

.footer__service {
  grid-area: service;
}

.footer__nav-header,.footer__about,.footer__news,.footer__help,.footer__service {
  padding-left: 16.67%;
}

.footer__about-header {
  grid-area: about-header;
}

.footer__about-service {
  grid-area: about-service;
}

.footer__team {
  grid-area: team;
}

.footer__vacancy {
  grid-area: vacancy;
}

.footer__investors {
  grid-area: investors;
}

.footer__help-header {
  grid-area: help-header;
}

.footer__agreements {
  grid-area: agreements;
}

.footer__communities {
  grid-area: communities;
}

.footer__contacts {
  grid-area: contacts;
}

.footer__help-header,.footer__agreements,.footer__communities,.footer__contacts {
  padding-left: 31.5%;
}

.footer__subscription-header {
  grid-area: subscription-header;
}

.footer__subscription-paragraph {
  margin-top: 1px;
  margin-bottom: 22px;
}

.footer__subscription {
  grid-area: subscription;
}

.footer__nav-header,.footer__about-header,.footer__help-header,.footer__subscription-header {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;

  color: #1F2041;

  padding-top: 4px;
}

.footer__border {
  width: 100%;
  height: 0;
  border-top: 1px solid #E5E5E5;
}

@media all and (max-width: 1366px) {
  .footer__border {
    display: none;
  }
}

.footer_width_narrow {
  .footer__border {
    display: none;
  }
}

.footer__footer {
  max-width: 1160px;
  width: 80.56%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
}

@media all and (max-width: 1366px) {
  .footer__footer {
    display: none;
  }
}

.footer_width_narrow {
  .footer__footer {
    display: none;
  }
}

.footer__social {
  display: flex;
}

.footer__twitter {
  margin: 0 20px 0 0;

  background: no-repeat url('./img/twitter.svg') 0 2px;
}

.footer__facebook {
  margin: 0 20px 0 0;

  background: no-repeat url('./img/facebook.svg') 1px 1px;
}

.footer__instagram {
  margin: 0;

  background: no-repeat url('./img/instagram.svg') 1px 1px;
}

.footer__twitter,.footer__facebook,.footer__instagram {
  width: 24px;
  height: 24px;

  outline: 0;
}

.footer__twitter:focus,.footer__facebook:focus,.footer__instagram:focus {
  filter: drop-shadow(0 0 5px rgba(188, 156, 255, 1));
}

.footer__mini {
  display: none;

  width: 100%;

  height: 367px;

  padding: 120px 0 0 0;

  flex-direction: column;

  align-items: center;

  background: white;

  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  box-sizing: border-box;
}

@media all and (max-width: 1366px) {
  .footer__mini {
    display: flex;
  }
}

.footer_width_narrow {
  .footer__mini {
    display: flex;

    max-width: 768px;
  }
}

.footer__mini-text {
  padding: 10px 10% 22px;
  text-align: center;
}
