mixin footer(options={})
  -
    const {
      narrow = false
    } = options;
    let footerClass = '';
    if (narrow) {
      footerClass = 'footer_width_narrow'; //- Нужно ТОЛЬКО для демонстрации на странице Headers & Footers
    }

  footer.footer(class= footerClass)
    .footer__body
      .footer__logo
        +logo
      p.footer__paragraph Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__nav-header Навигация
      .footer__about
        +hyper({ text: 'О нас'})
      .footer__news
        +hyper({ text: 'Новости'})
      .footer__help
        +hyper({ text: 'Служба поддержки'})
      .footer__service
        +hyper({ text: 'Услуги'})
      .footer__about-header О нас
      .footer__about-service
        +hyper({ text: 'О сервисе'})
      .footer__team
        +hyper({ text: 'Наша команда'})
      .footer__vacancy
        +hyper({ text: 'Вакансии'})
      .footer__investors
        +hyper({ text: 'Инвесторы'})
      .footer__help-header Служба поддержки
      .footer__agreements
        +hyper({ text: 'Соглашения'})
      .footer__communities
        +hyper({ text: 'Сообщества'})
      .footer__contacts
        +hyper({ text: 'Связь с нами'})
      .footer__subscription-header Подписка
      .footer__subscription
        p.footer__subscription-paragraph Получайте специальные предложения и новости сервиса
        +subscription
    .footer__border
    .footer__footer Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social
        a.footer__twitter(href="https://twitter.com/?lang=ru" target="_blank" rel="noopener noreferrer")
        a.footer__facebook(href="https://ru-ru.facebook.com/" target="_blank" rel="noopener noreferrer")
        a.footer__instagram(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")
    .footer__mini
      +logo
      .footer__mini-text Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social
        a.footer__twitter(href="https://twitter.com/?lang=ru" target="_blank" rel="noopener noreferrer")
        a.footer__facebook(href="https://ru-ru.facebook.com/" target="_blank" rel="noopener noreferrer")
        a.footer__instagram(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")
