mixin footer(options={})
  -
    const {
      narrow = false
    } = options;
    let footerClass = '';
    if (narrow) {
      footerClass = 'footer_width_narrow'; //- Нужно ТОЛЬКО для демонстрации на странице Headers & Footers
    }

  footer.footer(class= footerClass)
    .footer__body
      .footer__item.footer__item_area_logo
        +logo
      p.footer__item.footer__item_area_paragraph Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__item.footer__item_area_nav-header.footer__item_weight_bold Навигация
      .footer__item.footer__item_area_about
        +hyper({ text: 'О нас'})
      .footer__item.footer__item_area_news
        +hyper({ text: 'Новости'})
      .footer__item.footer__item_area_help
        +hyper({ text: 'Служба поддержки'})
      .footer__item.footer__item_area_service
        +hyper({ text: 'Услуги'})
      .footer__item.footer__item_area_about-header.footer__item_weight_bold О нас
      .footer__item.footer__item_area_about-service
        +hyper({ text: 'О сервисе'})
      .footer__item.footer__item_area_team
        +hyper({ text: 'Наша команда'})
      .footer__item.footer__item_area_vacancy
        +hyper({ text: 'Вакансии'})
      .footer__item.footer__item_area_investors
        +hyper({ text: 'Инвесторы'})
      .footer__item.footer__item_area_help-header.footer__item_weight_bold Служба поддержки
      .footer__item.footer__item_area_agreements
        +hyper({ text: 'Соглашения'})
      .footer__item.footer__item_area_communities
        +hyper({ text: 'Сообщества'})
      .footer__item.footer__item_area_contacts
        +hyper({ text: 'Связь с нами'})
      .footer__item.footer__item_area_subscription-header.footer__item_weight_bold Подписка
      .footer__item.footer__item_area_subscription
        p.footer__subscription-paragraph Получайте специальные предложения и новости сервиса
        +subscription
    .footer__border
    .footer__footer Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social
        a.footer__twitter(href="https://twitter.com/?lang=ru" target="_blank" rel="noopener noreferrer")
        a.footer__facebook(href="https://ru-ru.facebook.com/" target="_blank" rel="noopener noreferrer")
        a.footer__instagram(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")
    .footer__mini
      +logo
      .footer__mini-text Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social
        a.footer__twitter(href="https://twitter.com/?lang=ru" target="_blank" rel="noopener noreferrer")
        a.footer__facebook(href="https://ru-ru.facebook.com/" target="_blank" rel="noopener noreferrer")
        a.footer__instagram(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")
