.card-sign {
  display: grid;
  width: 380px;
  height: 358px;
  box-sizing: border-box;
  padding: 39px 29px;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  grid-template-rows: 50px 192px auto;
  justify-items: start;
  z-index: 0;

  &__header {
    font-family: montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    margin: 0;
  }

  &__form {
    display: grid;
    grid-template-rows: 54px 64px 74px;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
  }

  &__registration {
    margin: 0 0 0 10px;
  }
}

@media all and (max-width: 400px) {
  .card-sign {
    width: 100%;
    border-left: 0;
    border-right: 0;
    padding: 39px 3%;
    justify-items: center;

    &__header {
      width: 94%;
      text-align: center;
    }

    &__footer,
    &__form {
      width: 94%;
    }
  }
}
