mixin card-sign
  .card-sign
    p.card-sign__header Войти
    form.card-sign__form.js-card-sign__form
      +text-field({ name: 'sign-email', placeholder: 'Email', type: 'email' })
      +text-field({ name: 'sign-password', placeholder: 'Пароль', type: 'password' })
      +button({
        width: 'ultra-wide',
        text: 'войти',
        purple: true,
        arrowed: true,
      })
    .card-sign__footer Нет аккаунта на Toxin?
      form.card-sign__registration(action="./registration.html")
        +button({
          width: 'regular',
          bordered: true,
          text: 'Создать',
          disabled: false,
        })
