mixin slider({ min = 0, max = 0, step = 0, vertical = false, range = false, tip = false, scale = false, bar = false, units = '', label = '', description = '' } = {})
  -
    const modifier = vertical ? 'slider_vertical' : '';

  .slider.js-slider(class= modifier)
    input.slider__input.slider__input_from.js-slider__input_from(type='number')
    input.slider__input.slider__input_to.js-slider__input_to(type='number')
    .slider__header
      .slider__label= label
      .slider__value.js-slider__value(data-units= units)= '5 000₽ - 10 000₽'
    .slider__body
      .slider__thumb-container
        .slider__strip-container
          .slider__strip
        .slider__thumb
        .slider__thumb

      if (scale)
        .slider__legend
          .slider__legend-item 0 ₽
          .slider__legend-item 10 ₽
          .slider__legend-item 20 ₽
          .slider__legend-item 30 ₽
          .slider__legend-item 40 ₽
    .slider__description= description



