.checkbox__button-label {
  //display: flex;
  display: block;

  color: rgba(31, 32, 65, 0.5);
  line-height: 18px;
  font-size: 14px;

  padding: 0 0 13px 30px;

  cursor: pointer;

  position: relative;

  white-space: pre-line;
}

.checkbox__button-label::selection {
  background: transparent;
}

.checkbox__button-label::before {
  width: 18px;
  height: 18px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  margin: 0 10px 0 0;

  content: '';

  flex-grow: 0;
  flex-shrink: 0;

  display: block;

  position: absolute;

  top: 0;
  left: 0;
}

.checkbox__button:checked + .checkbox__button-label::before {
  background-image: url('./check.svg');
  background-repeat: no-repeat;
  background-position: center center;

  border: 1px solid #BC9CFF;
}

.checkbox__button-label.checkbox__button-label_small-font {
  font-size: 12px;
  line-height: 14px;

  padding: 0 0 10px 30px;
}

