.details__cancel {
  display: grid;

  grid-template-rows: 40px auto;

  grid-area: f;
}

@media all and (max-width: 959px) {
  .details__cancel {
    width: 310px;
  }
}

@media all and (max-width: 400px) {
  .details__cancel {
    width: 90%;
  }
}
