.checkbox__label {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;

  //margin: 0 0 16px 0;
  padding: 0 0 16px 0;

  position: relative;

  display: block;

  background: white;
}

.checkbox__label::selection {
  background: transparent;
}

.checkbox__expand ~ .checkbox__label {
  cursor: pointer;
}

.checkbox__expand ~ .checkbox__label::after {
  position: absolute;

  top: 0;
  right: 0;

  width: 44px;
  height: 15px;

  font-family: material-icons, Arial, sans-serif;
  font-size: 24px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
  font-style: normal;

  text-transform: lowercase;

  text-align: center;

  content: 'expand_more';
}

.checkbox__expand:checked ~ .checkbox__label::after {
  content: 'expand_less';
}

.checkbox__expand:checked ~ .checkbox__label {
  z-index: 1;
}
