mixin card-details__calc({ discount = 0, fee = 0, feeAdd = 0, price = 0 } = {})
  .card-details__calc
    .card-details__calc-first-line
      .card-details__calc-price= `${new Intl.NumberFormat('ru-RU').format(price)}₽`
      = 'х'
      .card-details__calc-days.js-card-details__calc-days 0 суток
      .card-details__total-price.js-card-details__total-price 0₽
    .card-details__calc-second-line
      = 'Сбор за услуги:'
      .card-details__discount= `скидка ${new Intl.NumberFormat('ru-RU').format(discount)}₽`
      .card-details__info i
      .card-details__total-discount= `${new Intl.NumberFormat('ru-RU').format(fee)}₽`
    .card-details__calc-third-line
      = 'Сбор за дополнительные услуги'
      .card-details__info i
      .card-details__fee-add= `${new Intl.NumberFormat('ru-RU').format(feeAdd)}₽`
    .card-details__total-line
      = 'Итого'
      .card-details__dash
      .card-details__total.js-card-details__total 0₽
