.text-field.text-field_date {
  .text-field__input.text-field__input_double {
    position: absolute;

    background: white;

    border: 1px solid transparent;

    z-index: 0;
  }
}

.text-field_date.text-field:hover {
  .text-field__input.text-field__input_double {
    border: 1px solid transparent;
  }
}
