mixin social
  .social
    a.social__twitter(href="https://twitter.com/?lang=ru" target="_blank" rel="noopener noreferrer")
    a.social__facebook(href="https://ru-ru.facebook.com/" target="_blank" rel="noopener noreferrer")
    a.social__instagram(href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer")
