.landing__wrapper {
  width: 80.56%;
  max-width: 1160px;

  position: relative;

  display: flex;
}

@media all and (max-width: 479px) {
  .landing__wrapper {
    width: 100%;
  }
}

@media all and (max-width: 639px) {
  .landing__wrapper {
    justify-content: center;
  }
}
