.hyper {
  text-decoration: none;
  outline: 0;
  font-size: 14px;
  line-height: 17px;
  text-shadow: none;

  &:link {
    color: rgb(31 32 65 / 50%);
  }

  &:visited {
    color: rgb(31 32 65 / 25%);
  }

  &:focus {
    text-shadow: 0 0 15px rgb(31 32 65 / 50%);
  }

  &::selection {
    background: transparent;
  }

  &_weight_bold {
    font-weight: bold;
    color: rgb(31 32 65 / 75%);
  }
}
