mixin hyper(options={})
  -
    const {
      text = '404',
      link = 'https://google.com/404',
      isOutside = true,
      isBold = false,
    } = options;

    const classBold = isBold
      ? 'hyper_weight_bold'
      : '';

    const target = isOutside
      ? '_blank'
      : '_self';

    const rel = isOutside
      ? 'noopener noreferrer'
      : '';

  a.hyper(
    href= link
    target= target
    rel= rel
    class= classBold
  )= text
