mixin hyper(options={})
  -
    const {
      text = '404',
      link = 'https://google.com/404',
      out = true,
      bold = false,
    } = options;
    let modifier = '';
    if (bold) {
      modifier = 'hyper_weight_bold';
    }
    let target = '_self';
    let rel = '';
    if (out) {
      target = '_blank';
      rel = 'noopener noreferrer';
    }

  a.hyper(
    href= link
    target= target
    rel= rel
    class= modifier
  )= text
