mixin button(options={})
  -
    const {
      width = '', //- ultra-narrow - 61px, narrow - 87px, regular - 99px, wide - 196px, ultra-wide - 320px
      low = false, //- высота кнопки low - 34px, regular - 44px
      purple = false,
      bordered = false,
      arrowed = false,
      text = '',
      disabled = true,
      submit = true
    } = options;
    let buttonClass = '';
    switch (width) {
      case 'narrow':
        buttonClass += ' button_width_narrow';
        break;
      case 'regular':
        buttonClass += ' button_width_regular';
        break;
      case 'wide':
        buttonClass += ' button_width_wide';
        break;
      case 'ultra-wide':
        buttonClass += ' button_width_ultra-wide';
        break;
      default:
        buttonClass += ' button_width_ultra-narrow';
    }
    if (low) {
      buttonClass += ' button_height_low';
    } else {
      buttonClass += ' button_height_regular';
    }
    if (purple) {
      buttonClass += ' button_color_purple';
    } else if (bordered) {
      buttonClass += ' button_bordered';
    }
    if (arrowed) {
      buttonClass += ' button_arrowed';
    }
    let buttonType = 'submit';
    if (!submit) {
      buttonType = 'button';
    }

  button.button.js-button(
    type= buttonType
    class= buttonClass
    disabled= disabled
  )= text

