mixin button({ type = '', text = '', disabled = true, submit = true } = {})
  -
    let inputClass;
    let buttonClass;
    let buttonType = 'submit';
    switch (type) {
      case 'fill':
        inputClass = 'button__input_fill';
        buttonClass = 'button_fill';
        break;
      case 'fill-wide':
        inputClass = 'button__input_fill-wide';
        buttonClass = 'button_fill-wide';
        break;
      case 'white':
        inputClass = 'button__input_white';
        buttonClass = 'button_white';
        break;
      case 'white-narrow':
        inputClass = 'button__input_white-narrow';
        buttonClass = 'button_white-narrow';
        break;
      case 'big':
        inputClass = 'button__input_big';
        buttonClass = 'button_big';
        break;
      default:
        inputClass = '';
        buttonClass = '';
    }
    if (!submit) {
      buttonType = 'button';
    }

  .button(class= buttonClass)
    input.button__input.js-button__input(type= buttonType value= text class= inputClass disabled= disabled)
    if (type === 'white' || type === 'big'|| type === 'white-narrow')
      .button__back
