mixin button(options={})
  -
    const {
      width = '', //- ultra-narrow - 61px, narrow - 87px, regular - 99px, wide - 196px, ultra-wide - 320px
      isLow = false, //- This is height. low - 34px, regular - 44px
      isPurple = false,
      isBordered = false,
      isArrowed = false,
      text = '',
      disabled = true,
      isSubmit = true,
    } = options;

    const classWidth = (() => {
      switch (width) {
        case 'narrow':
          return 'button_width_narrow';
        case 'regular':
          return 'button_width_regular';
        case 'wide':
          return 'button_width_wide';
        case 'ultra-wide':
          return 'button_width_ultra-wide';
        default:
          return 'button_width_ultra-narrow';
      }
    })();

    const classHeight = isLow
      ? 'button_height_low'
      : 'button_height_regular';

    const classColor = isPurple
      ? 'button_color_purple'
      : '';

    const classBordered = !isPurple && isBordered
      ? 'button_bordered'
      : '';

    const classArrowed = isArrowed
      ? 'button_arrowed'
      : '';

    const buttonType = isSubmit
      ? 'submit'
      : 'button';

  button.button.js-button(
    type= buttonType
    class= [classWidth, classHeight, classColor, classBordered, classArrowed]
    disabled= disabled
  )= text

