.button__input.button__input_big {
  position: absolute;

  left: 0;
  top: 0;

  width: 320px;
  height: 44px;

  box-sizing: border-box;

  border-radius: 22px;

  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  color: white;
}

.button__input.button__input_big:disabled {
  color: #bc9cff;
  opacity: 0.5;
}
