.header__item {
  margin: 0 10px 0 10px;

  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);

  cursor: pointer;

  text-decoration: none;
}

.header__item:nth-child(5) {
  width: 72px;
}

.header__item:nth-child(6) {
  width: 62px;
}

.header__item:last-child {
  margin: 0 20px 0 10px;
}

@media all and (min-width: 1200px) {
  .header__item:nth-child(2) {
    margin: 0 10px 0 20px;
  }

  .hamburger:nth-child(1) {
    display: none;
  }
}

@media all and (min-width: 640px) and (max-width: 1199px) {
  .header__item:nth-child(3),
  .menu:nth-child(4),
  .header__item:nth-child(5),
  .header__item:nth-child(6),
  .menu:nth-child(7) {
    display: none;
  }
  .header__item:nth-child(8) {
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
  }
}

@media all and (max-width: 639px) {
  .header__item:nth-child(3),
  .menu:nth-child(4),
  .header__item:nth-child(5),
  .header__item:nth-child(6),
  .menu:nth-child(7),
  .header__item:nth-child(8),
  .header__item:nth-child(9)  {
    display: none;
  }

  .header {
    justify-content: flex-start;
  }
}
